<tr id="<%= spree_dom_id image %>" data-hook="images_row" class="<%= cycle('odd', 'even')%>">
  <td class="no-border">
    <span class="handle"></span>
  </td>
  <td>
    <% if image.processed? %>
      <%= link_to image_tag(image.attachment.url(:small), style: "max-width: 180px"), image.attachment.url(:small) %>
    <% else %>
      <%= link_to image_tag(image.direct_upload_url, style: "max-width: 180px"), image.attachment.url(:small) %>
    <% end %>
  </td>
  
  
  <td class="actions">    
    <%= link_to_delete image, { :url => admin_assembly_definition_image_url(@assembly_definition, image), :no_text => true } %>
  </td>
</tr>
