<table class="index definition" data-sortable-link="<%= update_positions_admin_assembly_definition_parts_path(assembly_definition) %>">
<col style="width: 5%">
<col style="width: 35%">
<col style="width: 30%">
<col style="width: 15%">
<col style="width: 10%; text-align:center">
<col style="width: 5%">
  <thead>
    <tr>
      <th colspan="2">Presentation</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Optional</th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% unless assembly_definition.parts.any? %>
      <div class="no-objects-found">
        No parts were found.
      </div>
    <% else %>
      <%= f.fields_for :assembly_definition_parts do |part_form| %>
        <% part = part_form.object %>
        <tr id="<%= spree_dom_id part_form.object %>">
          <td><span class="handle"></span></td>
          <td class="presentation">
            <%= part_form.text_field :presentation %>
            <br>
            <span class="info">
              <%= link_to_with_icon 'icon-external-link', part.product.name, edit_admin_product_path(part.product), target: :blank %>
            </span>
          </td>
          <td>
            <%= part_form.select(:variant_ids, part.product.variants.collect { |v| [v.options_text, v.id] }, {}, multiple: true, class: 'select2 fullwidth') %>
            <span class="info alignright"><input type="checkbox" class="check_all" >Check all</span>
          </td>
          <td><%= part_form.number_field :count %></td>
          <td><%= part_form.check_box :optional %></td>
          <td class="actions">
            <%= link_to_delete part, :url => admin_assembly_definition_part_path(@assembly_definition, part_form.object), :no_text => true %>
          </td>        
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script>
  $(".check_all").click(function(){
      var element = $(this).parent().parent().find('.select2');
      if($(this).is(':checked') ){
          var selected = [];
          element.find("option").each(function(i,e){
              selected[selected.length]=$(e).attr("value");
          });
          element.select2("val", selected);
      }else{
          element.select2("val", "");
       }
  });


</script>

<%= javascript_tag("subscribe_item_part_links();") if request.xhr? %>

