<table class="index definition" data-sortable-link="<%= update_position_admin_assembly_definition_parts_path(assembly_definition) %>">
<col style="width: 5%">
<col style="width: 35%">
<col style="width: 30%">
<col style="width: 15%">
<col style="width: 10%; text-align:center">
<col style="width: 5%">
  <thead>
    <tr>
      <th colspan="2">Presentation</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Optional</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% if assembly_definition.blank? %>
    <tr><td colspan="6"><%= t('none') %>.</td></tr>
    <% end %>
    <% assembly_definition.parts.each do |part| %>
    <tr id="<%= dom_id(part, :sel)%>">
      <td><span class="handle"></span></td>
      <td class="presentation">
        <%= text_field_tag :presentation, part.presentation %>
        <br>
        <span class="info">
          <%= link_to_with_icon 'icon-external-link', part.product.name, edit_admin_product_path(part.product), target: :blank %>
        </span>
      </td>
      <td>
        <%= select_tag("variants[]", options_for_select( 
          part.product.variants.collect { |v| [v.options_text, v.id] }, 
          part.selected_variants.collect { |ad| ad.id }),{
          multiple: true, class: 'select2 fullwidth'}) %>
        <span class="info align-right"><input type="checkbox" class="check_all" >Check all</span>
      </td>
      <td class="count"><%= text_field_tag :count, part.count %></td>
      <td><%= check_box_tag( 'part_optional', part.optional,  part.optional ) %></td>
      <td>
        <%= image_tag "spinner.gif", :style => "display:none", :class => "spinner" %>
        <%= link_to(icon('edit') + ' ' + t('update'),
            admin_assembly_definition_part_url(assembly_definition, part), :method => :patch,
            :class => "set_count_admin_item_part_link") %>
      </td>        
    </tr>
    <% end %>
  </tbody>
</table>

<script>
  $(".check_all").click(function(){
      var element = $(this).parent().parent().find('.select2');
      if($(this).is(':checked') ){
          var selected = [];
          element.find("option").each(function(i,e){
              selected[selected.length]=$(e).attr("value");
          });
          element.select2("val", selected);
      }else{
          element.select2("val", "");
       }
  });
</script>

<%= javascript_tag("subscribe_item_part_links();") if request.xhr? %>
