<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => "Parts"} %>


<%= form_tag('#') do %>
<label><%= t('search') %>:</label>
<input id="searchtext" size="25">
<% end %>
<br>
<div id="search_hits"></div>  

<%= form_for [:admin, @assembly_definition] do |f| %>

  <fieldset>
    <legend align="center">Assembly Definition</legend>
    <table class="index sortable" data-sortable-link="<%= update_positions_admin_assembly_definition_parts_path(@assembly_definition) %>">
    <col style="width: 5%">
    <col style="width: 35%">
    <col style="width: 30%">
    <col style="width: 15%">
    <col style="width: 10%; text-align:center">
    <col style="width: 5%">
      <thead>
        <tr>
          <th colspan="2">Presentation</th>
          <th>Name</th>
          <th>Displayable Type</th>
          <th>Quantity</th>
          <th>Optional</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody id="parts_table_body">
        <% unless @assembly_definition.parts.any? %>
          <div class="no-objects-found">
            No parts were found.
          </div>
        <% else %>
          <%= f.fields_for :assembly_definition_parts do |part_form| %>
            <%= render 'spree/admin/assembly_definitions/part_row', f: part_form %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <br/>


    <legend align="center">Images</legend>
    <div id="uploads_container"></div>
    <script id="template-upload" type="text/x-tmpl">
      <div id="upload_{%=o.unique_id%}" class="upload">
        <h5>{%=o.name%}</h5>
        <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
      </div>
    </script>

  
    <table class="index sortable" data-hook="images_table" data-sortable-link="<%= update_positions_admin_assembly_definition_images_path(@assembly_definition) %>">
      <colgroup>
        <col style="width: 5%">
        <col style="width: 50%">
        <col style="width: 35%">
        <col style="width: 10%">
      </colgroup>
      <thead>
        <tr data-hook="images_header">
          <th colspan="2">Image</th>
          <th>Target</th>
          <th class="actions"></th>
        </tr>
      </thead>
      <tbody id="images_table_body">
        <% unless @assembly_definition.images.any? %>
          <div class="no-objects-found">
            <%= Spree.t(:no_images_found) %>.
          </div>
        <% else %>
          <%= f.fields_for :images do |image_form| %>
            <%= render 'spree/admin/assembly_definition_images/image', f: image_form %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>


<%= s3_uploader_form callback_url: s3_callback_admin_assembly_definition_images_path(@assembly_definition),
  id: "s3_uploader",
  callback_param: "image[direct_upload_url]",
  expiration: 24.hours.from_now.utc.iso8601,
  max_file_size: 100.megabytes do %>

  <div class="field">
    <%= label_tag "Images" %><br>
    <%= file_field_tag :file, multiple: true %>
  </div>

<% end %>


<script>
  activateCheckAll = function () {
    $(".check_all").click(function(){
        var element = $(this).parent().parent().find('.select2');
        if($(this).is(':checked') ){
            var selected = [];
            element.find("option").each(function(i,e){
                selected[selected.length]=$(e).attr("value");
            });
            element.select2("val", selected);
        }else{
            element.select2("val", "");
         }
    });
  };
  
  activateCheckAll();


</script>



<%= javascript_tag do %>

  function search_for_parts(){
    $.ajax({
     data: {q: $("#searchtext").val() }, 
     dataType: 'html',
     success: function(request){
       jQuery('#search_hits').html(request);
       $('#search_hits').show();
     }, 
     type: 'GET', 
     url: '<%= available_supply_products_admin_assembly_definition_url(@assembly_definition) %>'
    });    
  }

  $("#searchtext").keypress(function (e) {
    if (($("#searchtext").val().length > 2) && ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13))) {
      search_for_parts();
      return false;
    } else {
       return true;
    }
  });

  $("#searchtext").delayedObserver(function(element, value) {
    search_for_parts();
  }, 0.75);


  function make_patch_request(link, post_params){
    return make_request(link, post_params, "PATCH");
  }

  function make_post_request(link, post_params){
    return make_request(link, post_params, "POST");
  }

  function make_request(link, post_params, method)
  {
    spinner = $("img.spinner", link.parent())
    spinner.show();
    $.ajax({
        url:  link.attr("href"),
        type: method,
        data: post_params,
        dataType: 'script',
        success: function (data, textStatus) { 
           spinner.hide(); 
        }
    });

    return false;
  }

<% end %>

