
<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => {:current => 'Prices'} %>


<fieldset class="no-border-top">

  <%= form_tag do %>
    <table class="index">
      <%= render :partial => "table_header" %>
      <tbody>
      <%= render :partial => "variant_prices", :locals => {:variant => @product.master, :tag => 'mp'} %>
      </tbody>
    </table>

    <table class="index">
      <colgroup>
        <col style="width: 30%" />
      </colgroup>
      <tbody>
      <%= render :partial => "variant_prices", :collection => @product.variants, :as => :variant, :locals => {:tag => 'vp'} %>
      </tbody>
    </table>

  <% end %>

  <%= submit_tag %>

</fieldset>
