<fieldset>
  <legend> <%= context %> Video </legend>
  <div class="row">
    <%= f.label :title, 'title' %> *
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  
  <div class="row">
    <%= f.label :url, 'url' %> * 
    <%= f.text_field :url, :class => 'form-control' %>
  </div>
</fieldset>
