<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @video } %>

<%= form_for [:admin, @video], url: '/admin/videos', method: :post do |f| %>
  <%= render partial: 'form', locals: { f: f, context: 'create' }  %>
  <div class='form-buttons filter-actions actions'>
    <%= button 'create', 'ok', class: 'btn btn-default' %>
    <%= link_to_with_icon 'remove', 'cancel', '/admin/videos', :class => 'button' %>
  </div>
<% end %>