<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= "New Target" %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to "Back to Targets", spree.admin_targets_path, :icon => 'fa fa-arrow-left' %>
  </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @target } %>

<%= form_for [:admin, @target] do |f| %>
  <fieldset class="no-border-top">
    <%= render :partial => 'form', :locals => { :f => f } %>
    <%= render :partial => 'spree/admin/shared/new_resource_links' %>
  </fieldset>
<% end %>
