<%= render :partial => "spree/admin/product_pages/autocomplete", :formats => :js %>
<%= render :partial => "spree/admin/variants/autocomplete", :formats => :js %>

<div id="new-line-item">
  <fieldset class="no-border-bottom">
    <legend align="center">Add Item</legend>

    <%= form_for [:admin, @index_page, Spree::IndexPageItem.new] do |f| %>
      <%= f.field_container :title do %>
        <%= f.label :title, Spree.t(:title) %> <span class="required">*</span><br />
        <%= f.text_field :title, :class => 'fullwidth title' %>
        <%= f.error_message_on :title %>
      <% end %>

      <div class="field twelve columns alpha">
	<%= f.label :product_page_id, "Product page" %>
	<%= f.hidden_field :product_page_id, :class => "fullwidth", id: "product_page_autocomplete" %>
      </div>

      <div class="field twelve columns alpha">
	<%= f.label :variant_id, "Variant (optional)" %>
	<%= f.hidden_field :variant_id, :class => "fullwidth", id: "variant_autocomplete" %>
      </div>

      <div class="field two columns alpha">
	<%= button_tag "Add Product Page", class: "button", id: "add_product_page_to_index_page" %>
      </div>

    <% end %>

  </fieldset>
</div>

