<div class="row">
  <div class="alpha six columns">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
      <%= f.text_field :name, :class => "fullwidth" %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>

  <div class="omega six columns">
    <%= f.field_container :taxon_id do %>
      <%= f.label :taxon_id, "Taxon: " %><br />
      <%= f.collection_select(:taxon_id, Spree::Taxon.all, :id, :name, { :prompt => "Choose taxon" }, class: 'select2 fullwidth') %>
      <%= f.error_message_on :taxon_id %>
    <% end %>
  </div>

  <div class="omega four columns">
    <%= f.field_container :background_color do %>
      <%= f.label :background_color, "Background Colour #" %><br />
      <%= f.text_field :background_color, :class => "fullwidth" %>
      <%= f.error_message_on :background_color %>
    <% end %>
  </div>
</div>