<div class="row">
  <div class="alpha seven columns">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
      <%= f.text_field :name, :class => "fullwidth" %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>
  
  <div class="alpha seven columns">
    <%= f.field_container :title do %>
      <%= f.label :title, Spree.t(:title) %> <br />
      <%= f.text_field :title, :class => "fullwidth" %>
      <%= f.error_message_on :title %>
    <% end %>
  </div>

  <div class="omega four columns">
    <%= f.field_container :background_color do %>
      <%= f.label :background_color, "Background Colour #" %><br />
      <%= f.text_field :background_color, :class => "fullwidth" %>
      <%= f.error_message_on :background_color %>
    <% end %>
  </div>
</div>