<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:editing_index_page) %> <span class="green">"<%= @index_page.name %>"</span>
<% end %>

<% content_for :page_actions do %>
  <li>
    <span id="new_add_index_page_item" data-hook>
      <%= link_to_add_fields Spree.t(:add_index_page_item), "tbody#index_page_items", :class => 'button icon-plus' %>
    </span>      
  </li>
  <li>
    <%= button_link_to Spree.t(:back_to_index_pages_list), spree.admin_index_pages_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @index_page } %>

<%= form_for [:admin, @index_page] do |f| %>
  <fieldset>
    
    <%= render 'form', f: f %>

    <legend align="center">Items</legend>
    <table class="index sortable" data-hook data-sortable-link="<%= update_items_positions_admin_index_pages_path %>">
<!--       <colgroup>
         <col style="width: 15%;">
         <col style="width: 25%;">
         <col style="width: 25%;">
         <col style="width: 15%;">
      </colgroup> -->
      <thead>
        <tr>
          <th colspan="3" style="width: 200px">Name</th>
          <th>CSS Style</th>
          <th class="actions"></th>
        </tr>
      </thead>

      <tbody id="index_page_items">
        <% if @index_page.items.empty? %>
          <tr id="none" class="<%= cycle('odd', 'even')%>">
            <td colspan="5"><%= Spree.t(:none) %></td>
            <td class="actions"></td>
          </tr>
        <% else %>
          <%= f.fields_for :items do |item_form| %>
            <%= render 'item_fields',f: item_form  if f.object %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
