<% content_for :page_title do %>
  Items on <%= @index_page.name %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to "New Index Page Item", new_admin_index_page_item_path(@index_page), :remote => true, :icon => 'icon-plus' %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @index_page } %>

<%= render :partial => "spree/admin/variants/autocomplete", :formats => :js %>

<div id="uploads_container"></div>

<script id="template-upload" type="text/x-tmpl">
  <div id="upload_{%=o.unique_id%}" class="upload">
    <h5>{%=o.name%}</h5>
    <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>

<% @index_page.items.each do |item| %>
  <%= s3_uploader_form callback_url: s3_callback_admin_index_page_item_path(@index_page, item),
      class: "s3_uploader_form",
      data: {drop_zone: "#item_#{item.id}_image_container"},
      callback_param: "image[direct_upload_url]",
      expiration: 24.hours.from_now.utc.iso8601,
      max_file_size: 100.megabytes do %>
    <%= file_field_tag :file, multiple: true, style: "display:none" %>
  <% end %>
<% end %>


<div class="row" id="new_index_page_item"></div>


<%= form_for [:admin, @index_page] do |f| %>


  <fieldset>
    <legend align="center"><%= @index_page.name %></legend>

    <%= render 'spree/admin/index_pages/form', f: f %>
    
    <table class="index sortable" data-hook data-sortable-link="<%= update_positions_admin_index_page_items_path(@index_page) %>">
      <colgroup>
        <col style="width: 5%">
        <col style="width: 20%">
        <col style="width: 25%">
        <col style="width: 45%">
        <col style="width: 5%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="2">Image</th>
          <th>Title &amp; Position</th>
          <th>Links</th>
          <th class="actions"></th>
        </tr>
      </thead>

      <tbody id="index_page_items">

        <% if @index_page.items.empty? %>
          <tr>
            <td colspan="6"><%= Spree.t(:none) %></td>
            <td class="actions"></td>
          </tr>
        <% else %>
          <%= f.fields_for :items do |item_form| %>
            <%= render 'spree/admin/index_page_items/item', f: item_form %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
