<%= render :partial => 'spree/admin/shared/new_product_pages_enabled' %>
<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<% content_for :page_title do %>
  <%= Spree.t(:editing_index_page) %> <span class="green">"<%= @index_page.name %>"</span>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to Spree.t(:back_to_index_pages_list), spree.admin_index_pages_path, :icon => 'icon-arrow-left' %>
  </li>
<% end %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @index_page } %>

<%= render 'add_item' %>

<div id="uploads_container"></div>

<script id="template-upload" type="text/x-tmpl">
  <div id="upload_{%=o.unique_id%}" class="upload">
    <h5>{%=o.name%}</h5>
    <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>

<%= form_for [:admin, @index_page] do |f| %>
  <fieldset>

    <%= render 'form', f: f %>

    <legend align="center">Items</legend>
    <table class="index sortable" data-hook data-sortable-link="<%= update_items_positions_admin_index_pages_path %>">
      <thead>
        <tr>
          <th colspan="2">Image</th>
          <th>Title</th>
          <th>Template</th>
          <th colspan="2">Link</th>
          <th class="actions"></th>
        </tr>
      </thead>

      <tbody id="index_page_items">

        <% if @index_page.items.empty? %>
          <tr id="none" class="<%= cycle('odd', 'even')%>">
            <td colspan="6"><%= Spree.t(:none) %></td>
            <td class="actions"></td>
          </tr>
        <% else %>
          <%= f.fields_for :items do |item_form| %>
            <%= render 'item_fields',f: item_form  if f.object %>
          <% end %>
        <% end %>
      </tbody>
    </table>

    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
