<% content_for :page_title do %>
  <%= "Index Pages" %>
<% end %>

<% content_for :page_actions do %>
  <li>
    <%= button_link_to "New Index Page", new_admin_index_page_url, :remote => true, :icon => 'icon-plus', :id => 'new_index_page_link' %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<div id="new_index_page"></div>

<% if @index_pages.any? %>
<table>
  <colgroup>
    <col style="width: 45%">
    <col style="width: 40%">
    <col style="width: 15%">
  </colgroup>
  <thead>
    <tr data-hook="option_header">
      <th><%= Spree.t(:name) %></th>
      <th><%= "Background colour" %></th>
      <th class="actions"></th>
    </tr>
  </thead>
  <tbody>
    <% @index_pages.each do |index_page| %>
      <tr class="spree_index_page <%= cycle('odd', 'even')%>" id="<%= spree_dom_id index_page %>">
        <td class="align-center"><%= index_page.name %></td>
        <td class="align-center background_color"><%= index_page.background_color %></td>
        <td class="actions">
          <%= link_to_edit(index_page, :no_text => true) %>
          <%= link_to_delete(index_page, :no_text => true) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="alpha twelve columns no-objects-found">
    <%= Spree.t(:no_resource_found, resource: I18n.t(:other, scope: 'activerecord.models.spree/index_page')) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_index_page_path %>!
  </div>
<% end %>
