<% unless Rails.env.production? %>
  <a href="<%= spree.edit_admin_product_variant_url(product.permalink,variant.id) %>">goto admin</a>
<% end %>

<% if variant.level %>
<p class="level">Level <span><%= variant.level %></span></p>
<% end %>

<%= form_for :order, :url => populate_orders_path do |f| %>

<%= hidden_field_tag "products[target_id]", target_id %>

<div class="product-price" data-hook="product_price">
	<% if variant.has_price? %>
	<span class="<%=variant.normal_price_classes %>" data-price="<%= variant.price.in_subunit %>" data-currency="<%= variant.currency_symbol %>"> 
		<%= variant.price_html %>
	</span>
	<span class="<%= variant.sale_price_classes %>" data-price="<%= variant.sale_price.in_subunit %>" data-currency="<%= variant.currency_symbol %>">
		<%= variant.sale_price_html %>
	</span>
	<% end %>
</div>

<div data-hook="inside_product_cart_form" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
	<% if product.memoized_targeted_grouped_option_values.any? %>
		<div class="product-variants">
			<% index = 0 %>
			<% product.memoized_targeted_grouped_option_values.each do |type, values|  %>
			<div class="variant-options index-<%= index %> <%= type.url_safe_name.downcase %>">

				<h5 class="variant-option-type"><%= type.presentation %>
					<% if %['colour' 'icon colour'].include?(type.name.downcase) %>
					<span class="color-value <%= type.url_safe_name.downcase %>"></span>
					<% end %>
				</h5>

				<ul class="variant-option-values <%= type.url_safe_name.downcase %>">
					<% values.sort_by(&:position).each do |value| %>
					<% classes = ["option-value", value.url_safe_name, type.url_safe_name] %>
					<li>
						<%= link_to value.has_image? ? image_tag(value.image.url, :alt => value.presentation) : content_tag(:span, value.presentation), "#", :title => value.presentation, :class => classes.join(" "), data: {type: type.url_safe_name, value: value.url_safe_name, presentation: value.presentation } %>
					</li>
					<% end %>
				</ul>
			</div>
			<% index += 1 %>
			<% end %>

			<input class="variant_id" type="hidden" name="products[<%= product.id %>]" value="<%= variant.try(:id) %>" />
		</div>

		<% unless product.optional_parts_for_display.blank? %>
		<div class="optional-parts">
			<h5 class="product-section-title">Do you need knitting needles?</h5>
			<ul>
				<% product.optional_parts_for_display.each do |opart| %>
				<li>
					<%= check_box_tag "products[options][]", opart.id, false, 'data-price' => product.price_in_pence(opart, current_currency), 'data-currency' => current_currency, id: "products_options_#{opart.id}", class: "kit-option" %>
					<label for="<%= ['products', 'options', opart.id].join('_') %>">
						<span class="optional-part-label"><%= "#{product.item_quantity(opart)} X #{opart.label_or_product_name}" %></span>
					</label>
				</li>
				<% end %>
			</ul>
		</div>
		<% end %>
	<% end %>

	<% if product.memoized_has_personalisation? %>
	<div class="personalisations">
		<h5>Personalise</h5>
		<%= render partial: "monogram", locals: { personalisation: product.memoized_personalisations.first } %>
	</div>
	<% end %>
</div>

<% if product.price and !product.price.nil? %>
<div class="add-to-cart">
	<label>Quantity</label>
   <%= number_field_tag (product.memoized_targeted_grouped_option_values.any? ? :quantity : "variants[#{product.master.id}]"), 1, :id => 'qty', :min => 1 %>
   <%= button_tag :class => 'add-to-cart-button small', :type => :submit do %>
	   <%= Spree.t(:add_to_cart) %>
	 <% end %>
</div>
<% end %>

<% end %>
