<% unless Rails.env.production? %>
	<a href="<%= spree.edit_admin_product_variant_url(product.slug,variant.id) %>">goto admin</a>
<% end %>

<% if variant.level %>
	<p class="level">Level <span><%= variant.level %></span></p>
<% end %>

<%= form_for :order, :url => populate_orders_path do |f| %>
<%= hidden_field_tag "product_page_id", product_page.id %>
<%= hidden_field_tag "target_id", product_page.target_id %>

<%# do not be tempted to make this product_page.selected_tab.id, as it will
cause big cache issues %>
<%= hidden_field_tag "product_page_tab_id", product_page_tab.id %>

<div class="product-price prices" data-hook="product_price" data-in-sale="<%=variant.in_sale?%>">
	<% if variant.has_price? %>
		<span class="<%=variant.normal_price_classes %> unselected" data-price="<%= variant.price.in_subunit %>" data-currency="<%= variant.currency_symbol %>"><%= variant.price_html %></span>
		<span class="<%=variant.sale_price_classes %> unselected" data-price="<%= variant.sale_price.in_subunit %>" data-currency="<%= variant.currency_symbol %>"><%= variant.sale_price_html %></span>
	<% end %>
</div>

<div class="row row-assembly" data-ad-id="<%= product.assembly_definition.id %>">
	<div class="assembly-menus large-10 small-8 column">
		<ol>
			<% product.assembly_definition.parts.decorate(context: @context).each do |part|%>

        <!--- if it is not optional -->
			  <% if !part.optional? %>
          <!-- If we have only one variant and it is not optional then it becomes mandatory -->
          <% if part.variants.size == 1 %>
            <input class="selected-parts" type="hidden" name="parts[<%= part.id %>]" value=<%= part.variants.first.id %>/>

          <% else %>

            <% option_values = part.displayable_option_values %>
            <% type = part.displayable_option_type %>
            <!-- render parts -->
            <li class="product-variants required" data-tree="<%= part.memoized_variant_options_tree %>" data-adjustment="0"  data-quantity="<%=part.count%>" data-adp-id="<%= part.id %>"><%= part.presentation %> <span class="color-value"></span>
              <div class="variant-options required <%= type.url_safe_name.downcase %>" data-type="<%= type.url_safe_name.downcase %>">
                <p><%= part.product.name %></p>
                <ul class="variant-option-values <%= type.url_safe_name.downcase %>">

                  <%= render :partial => 'part', locals: { type: type, option_values: option_values } %>

                </ul>
              </div>
              <input class="selected-parts" type="hidden" name="parts[<%= part.id %>]" value="" />
            </li>
            <!-- render parts -->

          <% end %>
        <% else # optional %>

          <% option_values = part.displayable_option_values %>
          <% type = part.displayable_option_type %>
          <!-- render parts -->
            <li class="product-variants optional" data-tree="<%= part.memoized_variant_options_tree %>" data-adjustment="0" data-quantity="<%=part.count%>" data-adp-id="<%= part.id %>"><%= part.presentation %> <span class="optional">(Optional)</span> <span class="color-value"></span>
              <div class="variant-options optional <%= type.url_safe_name.downcase %>" data-type="<%= type.url_safe_name.downcase %>">

                <p><%= part.product.name %></p>
                <ul class="variant-option-values <%= type.url_safe_name.downcase %>">

                  <%= render :partial => 'part', locals: { type: type, option_values: option_values } %>

                  <li class="no-thanks">
                    <a class="option-value" href="#" title="No thanks" data-value="" data-type="<%= type.url_safe_name %>" data-presentation=""><span>No&nbsp;thanks</span></a>
                    <% if option_values[0].has_image? %>
                      <p class="assembly-name">No&nbsp;thanks</p>
                    <% end %>
                  </li>

                </ul>
              </div>
              <input class="selected-parts" type="hidden" name="parts[<%= part.id %>]" value="" />
            </li>
          <!-- render parts -->
        <% end %>

      <% end # each %>

		<% if product.price and !product.price.nil? %>
		<div class="add-to-cart">
      <% if !product.out_of_stock_override? %>
			  <label>Quantity</label>
			  <%= number_field_tag (product.memoized_targeted_grouped_option_values.any? ? :quantity : "variants[#{product.master.id}]"), 1, :id => 'qty', :min => 1 %>
			  <%= button_tag :class => 'add-to-cart-button tooltip small disabled', :type => :submit, :style => "opacity: 0.5", :title => "Please select above options" do %>
			  	<%= Spree.t(:add_to_cart) %>
			  <% end %>
      <% else %>
        <h5>Sorry, this item is out of stock</h5>
		  <% end %>
		</div>
		<% end %>
	</div>
	<div class="assembly-images large-2 small-4 column">
		<ul class="no-bullet">
			<% product.assembly_definition.parts.decorate(context: @context).each do |part|%>
        <!-- we do not want to render the image place holder if it is mandotory -->
			  <% next if !part.optional? and part.displayable_option_values.size == 1 %>
      <li class="part-image-<%= part.id %>"</li>
			<% end # assembly_definition.memoized_grouped_option_values.each  %>
		</ul>
	</div>
</div><!-- /.row -->

<% end %>
