<ul class="product-thumbnails thumbnails" data-hook>

  <% if product.assembly_definition %>
    <% product.master.decorate( context: @context ).assembly_definition.images.each do |i| %>
      <li class='tmb-assembly-definition tmb-assembly-definition-<%= variant.id %>' style="display: none;" >
        <a href="<%= i.attachment.url(:product) %>">
         <%= image_tag(i.attachment.url(:mini)) %>
        </a>
      </li>
    <% end %>
  <% end %>

  <% product.memoized_images.each do |i| %>
  <li class="tmb-all tmb-<%= i.viewable.id %>" style="<%= show_thumb(i, product.master)%>">
    <a href="<%= i.attachment.url(:product) %>">
      <%= image_tag(variant.placeholder_thumbnails, :class => 'lazy-load', :data => { :original => i.attachment.url(:mini) }) %>
    </a>
  </li>
  <% end %>
 
 <% product.memoized_personalisation_images.each do |i| %>
    <li class="tmb-personalisation tmb-personalisation-<%= i.viewable.id %>" style="<%= show_thumb(i, variant)%>" >
      <a href="<%= i.attachment.url(:product) %>">
        <%= image_tag(variant.placeholder_thumbnails, :class => 'lazy-load', :data => { :original => i.attachment.url(:mini) }) %>
      </a>
    </li>
  <% end %>

  <% if product.memoized_has_variants? %>
    <% product.memoized_variant_images.each do |i| %>
      <% next if product.memoized_images.include?(i) %>
      <li class="vtmb tmb-<%= i.viewable_id %>" style="<%= show_thumb(i, variant)%>">
        <a href="<%= i.attachment.url(:product) %>">
          <%= image_tag(variant.placeholder_thumbnails, :class => 'lazy-load', :data => { :original => i.attachment.url(:mini) }) %>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>
