<!-- details -->
<% product = variant.product.decorate( context: @context ) %>
<% variant = variant.decorate( context: @context ) %>
<% cache [product,variant,variant.target,@current_currency] do %>
<li class="displayable-entity details" data-variant="<%= variant.id %>"
	data-option-values="<%= variant.option_types_and_values.to_json %>"
	data-tree="<%= product.memoized_variant_options_tree.to_json %>"
	data-option-type-order="<%= product.memoized_option_type_order.to_json %>">

	<a class="close" href="#">Close</a>
	<a class="arrow prev" href="#">Previous <%= @title %></a>
	<a class="arrow next" href="#">Next <%= @title %></a>
	<div class="row">
		<div class="large-6 small-12 columns">
			<div class="product-images" data-hook="product_images">
				<div class="main-image">
					<%= image_tag(variant.placeholder_image, :itemprop => 'image', :class => 'lazy-load zoomable', :data => { :original => variant.memoized_first_image_url(:product), :zoomable => variant.memoized_first_image_url(:original) }) %>
				</div>
				<div class="thumbnails" data-hook>
					<%= render :partial => 'thumbnails', :locals => {:variant => variant, :product => product} %>
				</div>
			</div>
		</div>
		<div class="large-6 small-12 columns">
			<h1><%= variant.name %></h1>
			<p class="stock-level">Low stock <span class="stock-value"></span></p>

			<div class="cart-form" data-hook="cart_form">
        <%= render :partial => 'cart_form', :locals => {:variant => variant, :product => product, :product_page => product_page, :product_page_tab => product_page_tab} %>
			</div>

			<h5 class="reveal-title revealed">Product description</h5>
			<p class="reveal-content"><%= product.description %></p>

      <%= render 'suppliers', variant: variant %>

			<h5 class="reveal-title delivery">Delivery &amp; returns</h5>
			<div class="reveal-content">
				<%= render "/spree/product_pages/delivery/delivery_#{current_country_code.downcase}" %>
			</div>

			<ul class="no-bullet icons-social panel-social">
				<% [:twitter, :facebook, :pinterest].each do |social| %>
				<li>
				  <%= link_to("Share with #{social}", variant.send("#{social}_url", product_page, product_page_tab), target: '_blank', class: social) %>
				</li>
				<% end %>
			</ul>

			<p class="promo-raf">Get your next order for free! <a href="/raf/invite">Find out more</a></p>
		</div>
	</div>

	<div class="row row-social">
		<div class="large-12 columns"></div>
	</div>
</li>
<!-- /details -->
<!-- variant -->
<li class="variant <%= variant.safe_tag_list %>" data-price="<%= variant.display_price %>" data-variant="<%= variant.id %>" data-variant-number="<%= variant.number %>" >
	<a href="#">
		<% url = image_url(variant.memoized_first_image, :product) %>
		<%= image_tag(variant.placeholder_image, :itemprop => 'image', :class => 'lazy-load', alt: variant.memoized_placeholder_image_alt, :data => { :original => url }) %>
    <h4><%= variant.display_name_including_options %><br/>
      <% if variant.in_sale? %>
        <span class="price was"><%= variant.price_html %></span>
        <span class="price now" itemprop="price"><%= variant.sale_price_html %></span>
      <% else %>
        <span class="price now" itemprop="price"><%= variant.price_html %></span>
      <% end %>
    </h4>
	</a>
</li>
<% end # cache %>
<!-- /variant -->
