<% content_for :title do %>Presenting <%= @product_page.title %><% end %>
<% content_for :meta do %>
<meta content="Knitwear, Knitting, Knitted, Wool, Unique, Handmade, Sustainable yarn, How to knit, Learn to knit, <%= @product_page.title %>" name="keywords" />
<meta content="" name="description" />
<meta content="<%= @product_page.permalink %>" name="photorank:tags" />
<meta property="og:title" content="Presenting <%= @product_page.title %>"/>
<meta property="og:image" content="<%= @product_page.facebook_image %>"/>
<% end %>

<input type="hidden" name="authenticity_token_fresh" value="<%= form_authenticity_token %>" />
<% @body_class = 'product-group no-sitewide-promo' %>
<% cache [@product_page, @variants, @product_page.target, @product_page.selected_tab, current_currency] do %>
<div class="wrapper-product-group" itemscope itemtype="http://schema.org/Product">

	<div class="widget-social">
		<%= render partial: 'olapic' %>
	</div>
	<div class="row-hero<%= @product_page.row_hero_type %>" <%= @product_page.hero_data_attributes.html_safe %>>
		<div class="row">
			<div class="<%= ['large-4', 'push-8', 'small-12', 'columns', 'title', @product_page.inverted_colour].compact.join(' ') %>">
				<p>Presenting</p>
				<h1 itemprop="name" class=<%= @product_page.title_size_class %>><%= @product_page.title %></h1>
				<ul class="no-bullet icons-social">
					<% [:twitter, :facebook, :pinterest].each do |social| %>
					<li>
					  <%= link_to("Share with #{social}", @product_page.send("#{social}_url"), target: '_blank', class: social) %>
					</li>
					<% end %>
				</ul>
			</div>
		</div>
	</div><!-- /row -->

	<% if @product_page.render_tabs? # Show row if we have both ready made and knit your own %>
	<div class="row row-tabs">
		<div class="large-3 push-3 small-6 columns tab <%= @product_page.made_by_the_gang_active_class %>">
			<h2><a class="tab-made-by-the-gang" href="#"><span>Made by the Gang</span></a></h2>
		</div>
		<div class="large-3 pull-3 small-6 columns tab <%= @product_page.knit_your_own_active_class %>">
			<h2><a class="tab-knit-your-own" href="#"><span>Knit your own</span></a></h2>
		</div>
	</div><!-- /row -->
	<% end %>


	<% if @product_page.made_by_the_gang_product.blank? and @product_page.made_by_the_gang_variants? %>
		<%= render partial: 'old_variants', locals: { product: @product_page.made_by_the_gang_product, product_page_tab: @product_page.made_by_the_gang_tab } %>
	<% elsif @product_page.made_by_the_gang_product.present? %>
		<%= render partial: 'cart', locals: { product: @product_page.made_by_the_gang_product, product_page_tab: @product_page.made_by_the_gang_tab } %>
	<% end %>

	<% if @product_page.knit_your_own_product.present? %>

		<%= render partial: 'cart', locals: {product: @product_page.knit_your_own_product, product_page_tab: @product_page.knit_your_own_tab }%>

		<div class="row-knit-your-own-supporting <%= @product_page.knit_your_own_active_class %>">
			<div class="row">
				<div class="large-12 columns">
					<h4>Knitting is easy! Our <span>#woolschool</span> video <br/>tutorials will help you get started.</h4>
					<a href="/video-tutorials" class="button">Learn more</a>
				</div>
			</div>
		</div><!-- /row -->
	<% end # if %>

<% end # cache product_page,selected_tab %>
</div><!-- /wrapper -->


