<div data-hook="admin_product_form_fields">

  <div class="left eight columns alpha" data-hook="admin_product_form_left">
    <%= f.field_container :name do %>
      <%= f.label :name, raw(Spree.t(:name) + content_tag(:span, ' *', :class => 'required')) %>
      <%= f.text_field :name, :class => 'fullwidth title' %>
      <%= f.error_message_on :name %>
    <% end %>

    <%= f.field_container :slug do %>
      <%= f.label :slug, raw(Spree.t(:slug) + content_tag(:span, ' *',  :class => "required")) %>
      <%= f.text_field :slug, :class => 'fullwidth title' %>
      <%= f.error_message_on :slug %>
    <% end %>

    <%= f.field_container :description do %>
      <%= f.label :description, Spree.t(:description) %>
      <%= f.text_area :description, {:rows => "#{unless @product.has_variants? then '20' else '13' end}", :class => 'fullwidth'} %>
      <%= f.error_message_on :description %>
    <% end %>
  </div>

  <div class="right four columns omega" data-hook="admin_product_form_right">

    <div class="alpha two columns">
      <%= f.field_container :cost_price do %>
        <%= f.label :cost_price, Spree.t(:cost_price) %>
        <%= f.text_field :cost_price, :value => number_to_currency(@product.cost_price, :unit => '') || 0.00 %>
        <%= f.error_message_on :cost_price %>
      <% end %>
    </div>
    <div class="omega two columns">
      <%= f.field_container :cost_currency do %>
        <%= f.label :cost_currency, Spree.t(:cost_currency) %>
        <%= f.text_field :cost_currency %>
        <%= f.error_message_on :cost_currency %>
      <% end %>
    </div>

    <div class="clear"></div>

    <%= f.field_container :available_on do %>
      <%= f.label :available_on, Spree.t(:available_on) %>
      <%= f.error_message_on :available_on %>
      <%= f.text_field :available_on, :value => datepicker_field_value(@product.available_on), :class => 'datepicker' %>
    <% end %>

    <#% unless @product.has_variants? %>
      <%= f.field_container :sku do %>
        <%= f.label :sku, Spree.t(:sku) %>
        <%= f.text_field :sku, :size => 16 %>
      <% end %>

      <ul id="shipping_specs">
        <li id="shipping_specs_weight_field" class="field alpha two columns">
          <%= f.label :weight, Spree.t(:weight) %>
          <%= f.text_field :weight, :size => 4 %>
        </li>
        <li id="shipping_specs_height_field" class="field omega two columns">
          <%= f.label :height, Spree.t(:height) %>
          <%= f.text_field :height, :size => 4 %>
        </li>
        <li id="shipping_specs_width_field" class="field alpha two columns">
          <%= f.label :width, Spree.t(:width) %>
          <%= f.text_field :width, :size => 4 %>
        </li>
        <li id="shipping_specs_depth_field" class="field omega two columns">
          <%= f.label :depth, Spree.t(:depth) %>
          <%= f.text_field :depth, :size => 4 %>
        </li>
      </ul>
    <#% end %>

    <%= f.field_container :shipping_categories do %>
      <%= f.label :shipping_category_id, Spree.t(:shipping_categories) %>
      <%= f.collection_select(:shipping_category_id, @shipping_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2' }) %>
      <%= f.error_message_on :shipping_category %>
    <% end %>

    <%= f.field_container :tax_category do %>
      <%= f.label :tax_category_id, Spree.t(:tax_category) %>
      <%= f.collection_select(:tax_category_id, @tax_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2' }) %>
      <%= f.error_message_on :tax_category %>
    <% end %>

    <%= f.field_container :product_group do %>
      <%= f.label :product_group_id, Spree.t(:product_group) %>
      <%= f.collection_select(:product_group_id, @product_groups, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2' }) %>
      <%= f.error_message_on :product_group %>
    <% end %>

    <%= f.field_container :gang_member do %>
      <%= f.label :gang_member_id, Spree.t(:gang_member) %>
      <%= f.collection_select(:gang_member_id, @gang_members, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2' }) %>
      <%= f.error_message_on :gang_member %>
    <% end %>

  </div>


  <div class="twelve columns alpha omega">
    <fieldset>
      <legend align="center"><%= Spree.t(:options) %></legend>


      <div class="three columns alpha ">
        <%= f.label :individual_sale, t("individual_sale")%>
        <%= f.check_box(:individual_sale) %>
      </div>

      <div class="three columns omega">
        <%= f.label :can_be_part, t("can_be_part")%>
        <%= f.check_box(:can_be_part) %>
      </div>

      <% if @product.assembly? %>
        <% content_for :head do %>
          <script type="text/javascript">
            jQuery(document).ready(function(){
                $("input[id='product_on_hand']").attr('disabled',true).parent().hide();
                });
          </script>
        <% end %>
      <% end %>

      <div class="three columns ">
        <%= f.label :out_of_stock_override, t("out_of_stock")%>
        <%= f.check_box(:out_of_stock_override) %>
      </div>

      </fieldset>
  </div>

  <div class="twelve columns alpha omega">
    <fieldset>
      <legend align="center"><%= "Description for Targets" %></legend>
      <div id="product_targets" class="row">
        <%= f.fields_for :product_targets do |builder| %>
          <%= render 'product_target_fields', f: builder %>
        <% end %>
      </div>
      <div class="form-buttons filter-actions actions">
        <%= link_to_add_description_fields "Add Description", f, :product_targets %>
      </div>
      <br>
    </fieldset>
  </div>

  <div class="twelve columns alpha omega">
    <fieldset>
      <legend align="center"><%= Spree.t(:prices) %></legend>
      <%= f.field_container :prices do %>
        <%= render :partial => 'spree/admin/shared/prices', :locals => {:variant => @product.master} %>
      <% end %>
    </fieldset>
  </div>

  <div class="twelve columns alpha omega">
    <%= f.field_container :taxons do %>
      <%= f.label :taxon_ids, Spree.t(:taxons) %>
      <%= f.hidden_field :taxon_ids, :value => @product.taxon_ids.join(',') %>
    <% end %>

    <%= f.field_container :option_types do %>
      <%= f.label :option_type_ids, Spree.t(:option_types) %>
      <%= f.hidden_field :option_type_ids, :value => @product.option_type_ids.join(',') %>
    <% end %>

    <%= f.field_container :visible_option_types do %>
      <%= f.label :visible_option_type_ids, Spree.t(:visible_option_types) %>
      <%= f.hidden_field :visible_option_type_ids, :value => @product.visible_option_types.map(&:id).join(',') %>
    <% end %>
  </div>

  <div data-hook="admin_product_form_meta" class="alpha omega twelve columns">
    <%= f.field_container :meta_keywords do %>
      <%= f.label :meta_keywords, Spree.t(:meta_keywords) %>
      <%= f.text_field :meta_keywords, :class => 'fullwidth' %>
    <% end %>

    <%= f.field_container :meta_description do %>
      <%= f.label :meta_description, Spree.t(:meta_description) %>
      <%= f.text_field :meta_description, :class => 'fullwidth' %>
    <% end %>
  </div>





  <div class="clear"></div>

  <div data-hook="admin_product_form_additional_fields"></div>

  <div class="clear"></div>
</div>

<% unless Rails.env.test? %>
  <script>
  $('.select2-container').css({width: '20em'})
  </script>
<% end %>
