<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product } %>

<%= form_for [:admin, @product], :html => { :multipart => true } do |f| %>
  <fieldset data-hook="new_product">

    <legend align="center"><%= Spree.t(:new_product) %></legend>
    <div class="row" data-hook="new_product_attrs">
      <div class="alpha eight columns">
        <%= f.field_container :name do %>
          <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
          <%= f.text_field :name, :class => 'fullwidth title' %>
          <%= f.error_message_on :name %>
        <% end %>
      </div>

      <div class="four columns">
        <%= f.field_container :product_type do %>
          <%= f.label :product_type, Spree.t(:product_type) %><br />
          <%= f.collection_select :product_type_id, Spree::ProductType.all, :id, :name, {:include_blank => false, :selected => Spree::ProductType.default.id}, {:class => 'select2 fullwidth'} %>
          <%= f.error_message_on :product_type_id %>
        <% end %>
      </div>

      <div class="omega four columns">
        <%= f.field_container :marketing_type do %>
          <%= f.label :marketing_type_id, Spree.t(:type) %><br />
          <%= f.collection_select :marketing_type_id, Spree::MarketingType.all, :id, :title, {:include_blank => false}, {:class => 'select2 fullwidth'} %>
          <%= f.error_message_on :marketing_type_id %>
        <% end %>
      </div>

    </div>

    <div class="row">
      <% unless @product.has_variants? %>
        <div class="alpha four columns">
          <%= f.field_container :sku do %>
            <%= f.label :sku, Spree.t(:sku) %><br />
            <%= f.text_field :sku, :size => 16, :class => 'fullwidth' %>
            <%= f.error_message_on :sku %>
          <% end %>
        </div>
      <% end %>


      <div class="four columns">
        <%= f.field_container :product_group do %>
          <%= f.label :product_group_id, "Product Group" %><span class="required">*</span><br />
          <%= f.collection_select :product_group_id, Spree::ProductGroup.all, :id, :name, {:include_blank => true}, {:class => 'select2 fullwidth product-group-id'} %>
          <%= f.error_message_on :product_group_id %>
        <% end %>
      </div>
      
      <div class="four columns">
        <%= f.field_container :gang_member do %>
          <%= f.label :gang_member_id, "Gang Member" %><span class="required">*</span><br />
          <%= f.collection_select :gang_member_id, Spree::GangMember.all, :id, :name, {:include_blank => true}, {:class => 'select2 fullwidth gang-member-id'} %>
          <%= f.error_message_on :gang_member_id %>
        <% end %>
      </div>

      <div class="omega four columns">
        <%= f.field_container :shipping_category do %>
          <%= f.label :shipping_category_id, Spree.t(:shipping_category) %><span class="required">*</span><br />
          <%= f.collection_select(:shipping_category_id, @shipping_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2 fullwidth' }) %>
          <%= f.error_message_on :shipping_category_id %>
        <% end %>
      </div>


      
    </div>
    
    <div class="row">
      <div class="alpha four columns">
        <%= f.field_container :available_on do %>
          <%= f.label :available_on, Spree.t(:available_on) %>
          <%= f.text_field :available_on, :class => 'datepicker fullwidth' %>
          <%= f.error_message_on :available_on %>
        <% end %>
      </div>

      <div class="four columns">
        <%= f.field_container :prototype do %>
          <%= f.label :prototype_id, Spree.t(:prototype) %><br />
        <%= f.collection_select :prototype_id, Spree::Prototype.all, :id, :name, {:include_blank => true}, {:class => 'select2 fullwidth'} %>
        <% end %>
      </div>
    </div>

    <div class="clearfix" data-hook="product-from-prototype" id="product-from-prototype">
      <%= render :file => 'spree/admin/prototypes/show' if @prototype %>
    </div>

    <%= render :partial => 'spree/admin/shared/new_resource_links' %>

  </fieldset>
<% end %>

<script type="text/javascript">
//<![CDATA[
  (function($){
    var base_url = "<%= admin_prototypes_url %>";
    var prototype_select = $('#product_prototype_id');
    prototype_select.change(function() {
      var id = prototype_select.val();
      if (id.length) {
        var url = new Uri(base_url);
        url.setPath(url.path() + '/' + id);
        $('#product-from-prototype').load(url.toString());
      } else {
        $('#product-from-prototype').empty();
      }
    })
    if (prototype_select.html() == "") {
      prototype_select.change();
    }
  })(jQuery);
//]]>
</script>
