<div class="row row-assembly" data-ad-id="<%= product_presenter.assembly_definition.id %>">
	<div class="assembly-menus large-10 small-8 column">
		<ol>
      <% product_presenter.assembly_definition.parts.each do |part| %>
        <% cache [part.product, product_presenter.currency, device] do %>
          <% present(part, @context) do |part_presenter| %>
  
          <!--- if it is not optional -->
  			  <% if !part_presenter.optional? %>
            <!-- If we have only one variant and it is not optional then it becomes mandatory -->
            <% if part_presenter.variants.size == 1 %>
              <input class="selected-parts" type="hidden" name="parts[<%= part_presenter.id %>]" value=<%= part_presenter.first_variant.id %>/>
  
            <% else %>
  
              <% option_values = part_presenter.displayable_option_values %>
              <% type = part_presenter.displayable_option_type %>
              <!-- render parts -->
              <li class="product-variants required" data-tree="<%= part_presenter.variant_tree.to_json %>" data-adjustment="0"  data-quantity="<%=part_presenter.count%>" data-adp-id="<%= part_presenter.id %>"><%= part_presenter.presentation %> <span class="color-value"></span>
                <div class="variant-options required <%= type.url_safe_name.downcase %>" data-type="<%= type.url_safe_name.downcase %>">
                  <p><%= part_presenter.product_name %></p>
                  <ul class="variant-option-values <%= type.url_safe_name.downcase %>">
  
                    <%= render 'spree/suites/part', type: type, option_values: option_values %>
                  </ul>
                </div>
                <input class="selected-parts" type="hidden" name="parts[<%= part_presenter.id %>]" value="" />
              </li>
              <!-- render parts -->
  
            <% end %>
          <% else # optional %>
  
            <% option_values = part_presenter.displayable_option_values %>
            <% type = part_presenter.displayable_option_type %>
            <!-- render parts -->
              <li class="product-variants optional" data-tree="<%= part_presenter.variant_tree.to_json %>" data-adjustment="0" data-quantity="<%=part_presenter.count%>" data-adp-id="<%= part_presenter.id %>"><%= part_presenter.presentation %> <span class="optional">(Optional)</span> <span class="color-value"></span>
                <div class="variant-options optional <%= type.url_safe_name.downcase %>" data-type="<%= type.url_safe_name.downcase %>">
  
                  <p><%= part_presenter.product_name %></p>
                  <ul class="variant-option-values <%= type.url_safe_name.downcase %>">
  
                    <%= render 'spree/suites/part', type: type, option_values: option_values %>
  
                    <li class="no-thanks">
                      <% if option_values.any? %>
                        <a class="option-value" href="#" title="No thanks" data-value="" data-type="<%= type.url_safe_name %>" data-presentation=""><span>No&nbsp;thanks</span></a>
                        <% if option_values[0].has_image? %>
                          <p class="assembly-name">No&nbsp;thanks</p>
                        <% end %>
                      <% else %>
                        <p>No&nbsp;stock</p>
                      <% end %>
                    </li>
  
                  </ul>
                </div>
                <input class="selected-parts" type="hidden" name="parts[<%= part_presenter.id %>]" value="" />
              </li>
            <!-- render parts -->
          <% end %>
  
        <% end # part_presenter %>
      <% end # cache %>
    <% end # each parts %>

    <%= render 'add_to_cart', product_presenter: product_presenter %>

	</div>
	<div class="assembly-images large-2 small-4 column">
		<ul class="no-bullet">
      <% product_presenter.assembly_definition.parts.each do |part| %>
        <% present(part, @context) do |part_presenter| %>
          <!-- we do not want to render the image place holder if it is mandotory -->
			    <% next if !part_presenter.optional? and part_presenter.displayable_option_values.size == 1 %>
          <li class="part-image-<%= part_presenter.id %>"</li>
        <% end # part_presenter %>
			<% end # parts.each  %>
		</ul>
	</div>
</div><!-- /.row -->
