<% present(selected_tab_presenter.product, @context) do |product_presenter| %>
  <% present(product_presenter.sale_variant_or_first_variant_or_master, @context) do |variant_presenter| %>

    <% if product_presenter.kit_with_parts? %>
      <div class="displayable-kit-entity row active">
    <% elsif product_presenter.ready_to_wear_with_parts? %>
      <div class="displayable-customizable-entity row active"
           data-option-values="<%= product_presenter.option_types_and_values.to_json %>"
           data-tree="<%= product_presenter.variant_tree.to_json  %>"
           data-option-type-order="<%= product_presenter.option_type_order.to_json %>"
           data-variant-option-values="<%= product_presenter.variant_option_values.to_json %>">
    <% else %>
      <div class="displayable-entity row active"
           data-option-values="<%= product_presenter.option_types_and_values.to_json %>"
           data-tree="<%= product_presenter.variant_tree.to_json  %>"
           data-option-type-order="<%= product_presenter.option_type_order.to_json %>"
           data-variant-option-values="<%= product_presenter.variant_option_values.to_json %>">

    <% end %>

    <div class="row">
      <div class="large-6 small-12 columns images-column">
        <div class="product-images" data-hook="product_images">
          <%= render selected_tab_presenter.product_images,
                      variant_presenter: variant_presenter,
                      product_presenter: product_presenter %>
        </div>
      </div>

      <div class="large-6 small-12 columns">
        <h1 class="product-name"><%= product_presenter.name %></h1>

        <%# Template Dependency: spree/suites/in_stock %>
        <%# Template Dependency: spree/suites/out_of_stock %>
        <%= render selected_tab_presenter.product_selector,
                      variant_presenter: variant_presenter,
                      product_presenter: product_presenter,
                      selected_tab_presenter: selected_tab_presenter,
                      suite_presenter: suite_presenter %>

        <%# Template Dependency: spree/suites/product_details %>
        <%# Template Dependency: spree/suites/product_details_mobile %>
        <%= render selected_tab_presenter.product_details,
                      variant_presenter: variant_presenter,
                      product_presenter: product_presenter,
                      selected_tab_presenter: selected_tab_presenter%>

      </div>
    </div>
    </div><!-- /row -->

    <div class="row-social">
      <div class="row">
        <div class="large-12 columns">
          <div class="widget-social">
            <h2 class="text-center">The way the gang rocks it</h2>
              <%= render partial: 'olapic_pdp_widget', locals: { olapic_product_id: @suite.permalink } %>
            <h4 class="text-center">
              Follow <em>@woolandthegang</em> on
              <a href="https://twitter.com/woolandthegang"><i class="fa fa-twitter"></i>&nbsp;</a>
              <a href="https://www.facebook.com/woolandthegang"><i class="fa fa-facebook"></i>&nbsp;</a>
              <a href="https://instagram.com/woolandthegang"><i class="fa fa-instagram"></i>&nbsp;</a>
              and hashtag your pics <br/>
              using <em>#shareyourknits.</em> Or upload your photos
              <em><a class="upload-button olapic-upload" href="#">here</a></em>
            </h4>
          </div>
        </div>
      </div>
    </div>
  <% end # variant_presenter %>
<% end # product_presenter %>
