<% present(selected_tab_presenter.product, @context) do |product_presenter| %>
  <% present(product_presenter.sale_variant_or_first_variant_or_master, @context) do |variant_presenter| %>

    <% if product_presenter.assembly_definition %>
      <div class="displayable-kit-entity row active">

    <% else %>

      <div class="displayable-entity row active"
           data-option-values="<%= product_presenter.option_types_and_values.to_json %>"
           data-tree="<%= product_presenter.variant_tree.to_json  %>"
           data-option-type-order="<%= product_presenter.option_type_order.to_json %>"
           data-variant-option-values="<%= product_presenter.variant_option_values.to_json %>">

    <% end %>

    <div class="row">
      <div class="large-6 small-12 columns">
        <div class="product-images" data-hook="product_images">
          <div class="main-image">
            <%= image_tag(variant_presenter.main_image_url, variant_presenter.main_image_options) %>
          </div>
          <div class="thumbnails" data-hook>
            <%= render :partial => 'thumbnails', :locals => {variant_presenter: variant_presenter, product_presenter: product_presenter} %>
          </div>
        </div>
      </div>

      <div class="large-6 small-12 columns">
        <h1><%= product_presenter.name %></h1>
        <p class="stock-level">Low stock <span class="stock-value"></span></p>
        <p class="digital-available">PDF + Printed Pattern</p>

        <% if selected_tab_presenter.in_stock? %>

          <div class="cart-form" data-hook="cart_form">
            <%= form_for :order, :url => populate_orders_path,  :remote => true , :html => {:class => 'add_to_cart_form'}  do |f| %>
              <%= hidden_field_tag "suite_id", suite_presenter.id %>
              <%= hidden_field_tag "suite_tab_id", selected_tab_presenter.id %>
              <%= hidden_field_tag "target_id", suite_presenter.target.try(:id) %>

              <% unless Rails.env.production? %>
                <a class="link-admin" href="<%= spree.edit_admin_product_variant_url(product_presenter.slug,variant_presenter.id) %>">Goto admin</a>
              <% end %>

              <% if variant_presenter.level %>
                <p class="level">Level <span><%= variant_presenter.level %></span></p>
              <% end %>

              <div class="product-price prices" data-hook="product_price" data-in-sale="<%=variant_presenter.in_sale?%>">
                <% if variant_presenter.price.present? %>
                  <span class="<%=variant_presenter.normal_price_classes %>" data-price="<%= variant_presenter.price_in_subunit %>" data-currency="<%= variant_presenter.currency_symbol %>"><%= variant_presenter.price_html %></span>
                  <span class="<%=variant_presenter.sale_price_classes %>" data-price="<%= variant_presenter.sale_price_in_subunit %>" data-currency="<%= variant_presenter.currency_symbol %>"><%= variant_presenter.sale_price_html %></span>
                <% end %>
              </div>

              <% if product_presenter.assembly_definition? %>
                <%= render 'cart_kit_form', variant_presenter: variant_presenter, product_presenter: product_presenter %>
              <% else %>
                <%= render 'cart_form', variant_presenter: variant_presenter, product_presenter: product_presenter %>
              <% end %>

            <% end %>
          </div>
        <% else %>
          <p class="no-stock">Out Of Stock</p>
          <div class="cart-form" data-hook="cart_form">
            <div class="product-price prices" data-hook="product_price" data-in-sale="<%=variant_presenter.in_sale?%>">
              <% if variant_presenter.price.present? %>
                <span class="<%=variant_presenter.normal_price_classes %>" data-price="<%= variant_presenter.price_in_subunit %>" data-currency="<%= variant_presenter.currency_symbol %>"><%= variant_presenter.price_html %></span>
                <span class="<%=variant_presenter.sale_price_classes %>" data-price="<%= variant_presenter.sale_price_in_subunit %>" data-currency="<%= variant_presenter.currency_symbol %>"><%= variant_presenter.sale_price_html %></span>
              <% end %>
            </div></div>

          <div class="section-out-of-stock">
            <h5 id="notice">Notify me when it's back in stock</h5>
            <p class="success-message" id="success-message"> You will hear from us as soon as its back in stock
              <% unless mobile_device? %>
                <%= cdn_image_tag("raf/icon-completed.png", class: "icon-completed",  alt: "") %>
              <% end %>
            </p>

            <%= form_tag spree.chimpy_subscribe_to_list_path, remote: true, :method => :post, :class => "out-of-stock-form" do %>
              <%= text_field_tag 'signupEmail', nil, placeholder: 'Enter your email' %>
              <%= text_field_tag 'product', product_presenter.name, class: 'hide' %>
              <%= hidden_field_tag(:list_name, "stock requests") %>
              <%= hidden_field_tag(:product, product_presenter.name ) %>

              <%= submit_tag("Submit") %>

            <% end %>
          </div>
        <% end %>
        <% if mobile_device? %>
          <%= render 'product_details_mobile', variant_presenter: variant_presenter, product_presenter: product_presenter, selected_tab_presenter: selected_tab_presenter%>
        <% else %>
          <%= render 'product_details', variant_presenter: variant_presenter, product_presenter: product_presenter, selected_tab_presenter: selected_tab_presenter %>
        <% end %>
      </div>
    </div>
    </div><!-- /row -->
    <div class="row-social">
      <div class="row">
        <div class="large-12 columns"></div>
      </div>
    </div>
  <% end # variant_presenter %>
<% end # product_presenter %>
