<div class="cart-form" data-hook="cart_form">
  <%= form_for :order, :url => populate_orders_path,  :remote => true , :html => {:class => 'add_to_cart_form'}  do |f| %>
    <%= hidden_field_tag "suite_id", suite_presenter.id %>
    <%= hidden_field_tag "suite_tab_id", selected_tab_presenter.id %>
    <%= hidden_field_tag "target_id", suite_presenter.target.try(:id) %>
    <%= hidden_field_tag "variant_id", variant_presenter.try(:id), class: "variant_id" %>

    <% unless Rails.env.production? %>
      <a class="link-admin" href="<%= spree.edit_admin_product_variant_url(product_presenter.slug,variant_presenter.id) %>">Goto admin</a>
    <% end %>

    <% if variant_presenter.level %>
      <p class="level">Level <span><%= variant_presenter.level %></span></p>
    <% end %>

    <%= render 'prices', variant_presenter: variant_presenter %>

    <% if product_presenter.parts? %>
      <%= render 'cart_kit_form', variant_presenter: variant_presenter, product_presenter: product_presenter %>
    <% else %>
      <%= render 'cart_form', variant_presenter: variant_presenter, product_presenter: product_presenter %>
    <% end %>

  <% end %>
</div>
