<h5 class="reveal-title revealed">Description</h5>
<p class="reveal-content"><%= product_presenter.clean_description %></p>

<% unless product_presenter.assembly_definition %>
  <h5 class="reveal-title suppliers">
    <%= cdn_image_tag("static/made-by-the-gang.png", alt: "", width: "40", height: "40") %>
    #madeunique <span>by <%= variant_presenter.displayable_supplier_nickname %> </span>
  </h5>
  <div class="reveal-content">
    <% variant_presenter.displayable_suppliers.each_with_index do |supplier, i| %>
      <% if (supplier.profile.size > 0) %>
        <strong><%= supplier.nickname.titlecase() %></strong>: <%= supplier.profile %>
        <% if (i < variant_presenter.displayable_suppliers.size - 1) %>
          <br/><br/>
        <% end %>
      <% end %>
    <% end %>
  </div>

<% end %>

<h5 class="delivery reveal-title">Delivery info</h5>

<div class="reveal-content">
  <%= render "/spree/suites/delivery/delivery_default" %>
</div>

<%= render 'social_icons', variant_presenter: variant_presenter %>
