<div class='product-details-tabs'>
  <ul class='horizontal product-details'>
    <li class="tab-title active"><a href="#panel_contents">Description</a></li>
    <li class="tab-title"><a href="#panel_delivery">Delivery info</a></li>
    <% if selected_tab_presenter.ready_made? && !product_presenter.assembly_definition %>
      <li class="tab-title"><a href="#panel_by_the_gang">#MADEUNIQUE</a></li>
    <%end%>
  </ul>
  <hr/>
  <div id='panel_contents'>
    <div class="product-details-content">
      <p><%= product_presenter.clean_description %></p>
    </div>
  </div>
  <div id='panel_delivery'>
    <div class="product-details-content delivery">
      <%= render "/spree/suites/delivery/delivery_default" %>
    </div>
  </div>
  <div id='panel_by_the_gang'>
    <div class="product-details-content">

      <% if selected_tab_presenter.ready_made? && !product_presenter.assembly_definition  %>
        <div class="suppliers-mark-container">
          <h5 class="suppliers-mark suppliers">
            <%= cdn_image_tag("static/made-by-the-gang.png", alt: "made by the gang symbol", width: "40", height: "40") %>
            #madeunique <span>by <%= variant_presenter.displayable_supplier_nickname %> </span>
          </h5>
        </div>
        <div class="profiles">
          <% variant_presenter.displayable_suppliers.each_with_index do |supplier, i| %>
            <% if (supplier.profile.size > 0) %>
              <h6><%= supplier.nickname.titlecase() %>:</h6>
              <p><%= supplier.profile %></p>
              <% if (i < variant_presenter.displayable_suppliers.size - 1) %>
                <br/><br/>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'social_icons', variant_presenter: variant_presenter %>
