<div class="small-12 columns">

  <div class="coupons-updates">
    <h5>Do you have a gift card or promo code?</h5>

    <%= form.text_field :coupon_code, :size => 10, :placeholder => 'Enter Gift Card or Promo Code here', value: "" %>
    <%= button_tag "Update bag", :class => 'inverse', :id => 'update-button', :name => 'refresh_page' %>
  </div>
  <br><br>
  <h4>Order Summary</h4>
</div>


<div class="small-12 columns">
  <table id="cart-detail" class="order-item-listing" data-hook>
    <thead>
      <tr data-hook="cart_items_headers">
        <th class="cart-item-description-header"><%= Spree.t(:item) %></th>
        <th class="cart-item-quantity-header"><%= Spree.t(:qty) %></th>
        <th class="cart-item-total-header"><%= Spree.t(:total) %></th>
      </tr>
    </thead>
    <tbody id="line_items" data-hook>
      <% @order.line_items.each do |item| %>

        <tr class="line-item">
          <td>
            <div class="item-image" data-hook="cart_item_image">
              <% if item.variant.images_for(item.target).length == 0 %>
                <%= link_to small_image(item.variant.product), path_to_variant(item, item.variant) %>
              <% else %>
                <%= link_to image_tag(item.variant.images_for(item.target).first.attachment.url(:listing)), path_to_variant(item, item.variant) %>
              <% end %>
            </div>
            <%= render :partial => 'spree/shared/order_contents', locals: { variant: item.variant, line_item: item } %>
          </td>
          <td>
            <div class="item-quantity" data-hook="cart_item_quantity">
              <%= item.quantity %>
            </div>
          </td>
          <td class="item-total" data-hook="cart_item_totalx">
            <%variant = item.variant.decorate( context: {current_currency: item.currency, target: item.target}) %>
            <span class="<%=variant.normal_price_classes %>"> <%= item.normal_display_amount.to_html unless item.quantity.nil? %></span>
            <% if item.in_sale? %>
              <span class="<%=variant.sale_price_classes %>"> <%= item.sale_display_amount.to_html unless item.quantity.nil? %></span>
            <% end %>
          </td>
        </tr>

      <% end %>
    </tbody>
    <%# render "spree/orders/adjustments" unless @order.adjustments.eligible.blank? %>
  </table>

</div>

<div class="small-12 columns">
  <div class="form-buttons" data-hook="buttons">
    <%= submit_tag Spree.t(:save_and_continue), :class => 'continue button primary' %>
  </div>
</div>

