<div id="checkout" data-hook>  
	
	<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @order } %>

	<div class="checkout-header row" data-hook="checkout_header">
		<div class="small-12 columns"><h1 data-hook="checkout_title"><%= Spree.t(:checkout) %></h1></div>
		<div class="small-12 columns" data-hook="checkout_progress"><%= checkout_progress %></div>
	</div>

	<div class="checkout-content row" data-hook="checkout_content">
	
		<div class="small-12 columns" data-hook="checkout_form_wrapper">
			<div class="row">
				<%= form_for @order, :url => update_checkout_path(@order.state), :html => { :id => "checkout_form_#{@order.state}" } do |form| %>
					<% unless @order.email? %>
						<div class="field">
							<%= form.label :email %><br />
							<%= form.text_field :email %>
						</div>
					<% end %>
					<%= render @order.state, :form => form %>
				<% end %>
			</div>
		</div>
		 
		<% if @order.state != 'confirm' %>
		<div id="checkout-summary" data-hook="checkout_summary_box" class="checkout-summary-box small-12 columns">
			<%= render :partial => 'summary', :locals => { :order => @order } %>
		</div>
		<% end %>
		
	</div>

</div>

<% if I18n.locale != :en %>
  <script src="<%= assets_prefix %>/jquery.validate/localization/messages_<%= I18n.locale %>.js"></script>
<% end %>