<% content_for :title do %><%= @index_page.title %><% end %>
<% content_for :meta do %>
  <meta content="" name="keywords" />
  <meta content="" name="description" />
<% end %>

<% @body_class = 'product-index' %>

<div class="wrapper-product-index">

  <% cache [@index_page, @current_currency] do %>

  <div class="row-hero" <%= @index_page.apply_background_color %>>
    <div class="row">
      <h1><%= @index_page.title %></h1>
    </div>
  </div><!-- /row -->

  <div class="row-products">
    <div class="row row-product">
		<%= paginate @items %>
		<p class="loading-text">Loading <%= @index_page.title %>, just a tick&hellip;</p>
        <%= render partial: "index_page_item", collection: @items, as: :index_page_item %>
    </div>
  </div><!-- /row -->
  <% end # @index_page cache %>

</div><!-- /wrapper -->
