<% content_for :page_actions do %>
  <li><%= button_link_to "Back to #{@product_page.name}", edit_admin_product_page_url(@product_page), :icon => 'icon-arrow-left' %></li>
<% end %>

<% content_for :page_title do %>
  <%= Spree.t(:variants_for) %> &ldquo;<%= @product_page.name %>&rdquo;
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product_page } %>

<%= render :partial => "spree/admin/products/product_autocomplete", :formats => :js %>
<section class="product-type">
  <div class="displayed">
    <h5>Displayed</h5>
    <%= render partial: "variants", locals: { variants: @displayed_variants, displayed: true } %>
  </div>
  <div class="available">
    <h5>Available</h5>
    <%= render partial: "variants", locals: { variants: @available_variants } %>
  </div>
</section>
