<% content_for :title do %>
  <%= "#{@page.meta_title} | Knit Kits | Knitwear | WOOL AND THE GANG" %>
<% end %>

<% content_for :meta do %>
  <meta content="index,follow" name="robots" />
  <meta content="<%= @page.meta_keywords %>" name="keywords" />
  <meta content="<%= @page.meta_description %>" name="description" />
<% end %>

<% @body_class = 'suites-index no-sitewide-promo' %>

<div class="wrapper-product-index">

  <div class="row-hero">
    <div class="row">
      <h1><%= @page.title %></h1>
    </div>
  </div>

  <div class="row-products">
    <% if @page.suites.any?%>
      <div class="row">
        <div class="large-12 columns">
          <% if params['per_page'] != @page.show_all %>
            <p class="show-all">
              <%= link_to 'Show all', params.merge(:per_page => @page.show_all) %>
            </p>
          <% end %>
          <%= paginate @page.suites, num_pages: @page.num_pages %>
        </div>
      </div>

      <div class="row row-product">
        <%= render partial: "spree/taxons/suite",
                   collection: @page.suites,
                   locals: {
                     context: @page.context
                   },
                   cache:
                     Proc.new{ |suite, counter|
                       [suite, Spree::SuitePresenter.desktop_image_size(counter), @currency ,device]
                     } %>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <% if params['per_page'] != @page.show_all %>
            <p class="show-all">
              <%= link_to 'Show all', params.merge(:per_page => @page.show_all) %>
            </p>
          <% end %>
          <%= paginate @page.suites, num_pages: @page.num_pages %>
        </div>
      </div>
    <% else %>
      <div class="no-search-results text-center">
        <h4>No results found</h4>
        <p>Why not check our most popular categories?</p>
        <ul class="no-bullet">
          <li><a href="/t/women">Women</a></li>
          <li><a href="/t/men">Men</a></li>
          <li><a href="/t/kids">Kids</a></li>
          <li><a href="/t/knit-kits">Knit Kits</a></li>
          <li><a href="/t/yarn-and-patterns/yarn">Yarn</a></li>
          <li><a href="/t/yarn-and-patterns/patterns">Patterns</a></li>
        </ul>
      </div>
    <% end %>
  </div>

</div><!-- /wrapper -->
