<% content_for :title do %><%= @taxon.title %><% end %>
<% content_for :meta do %>
  <meta content="" name="keywords" />
  <meta content="" name="description" />
<% end %>

<% @body_class = 'suites-index no-sitewide-promo' %>

<div class="wrapper-product-index">

  <div class="row-hero">
    <div class="row">
      <h1><%= @taxon.title %></h1>
    </div>
  </div>

  <div class="row-products">
		<div class="row">
			<div class="large-12 columns">
				<% if params['per_page'] != '999' %><p class="show-all"><a href="?per_page=999">Show all</a></p><% end %>
				<%= paginate @suites, theme: "frontend_override" %>
			</div>		
		</div>
    
		<div class="row row-product">
      <%= render partial: "suite", collection: @suites, cache: Proc.new{|suite, counter| [suite, Spree::SuitePresenter.desktop_image_size(counter), @currency ,device]} %>
  	</div>

		<div class="row">
			<div class="large-12 columns">
				<% if params['per_page'] != '999' %><p class="show-all"><a href="?per_page=999">Show all</a></p><% end %>
				<%= paginate @suites, theme: "frontend_override" %>
			</div>		
		</div>
	</div>

</div><!-- /wrapper -->
