<div class="label-block left six columns alpha">

  <%= f.field_container :firstname do %>
    <%= f.label :firstname, Spree.t(:firstname) %> <span class="required">*</span><br />
    <%= f.text_field :firstname, :class => 'fullwidth title' %>
    <%= f.error_message_on :firstname %>
  <% end %>

  <%= f.field_container :lastname do %>
    <%= f.label :lastname, Spree.t(:lastname) %> <span class="required">*</span><br />
    <%= f.text_field :lastname, :class => 'fullwidth title' %>
    <%= f.error_message_on :lastname %>
  <% end %>

  <%= f.field_container :nickname do %>
    <%= f.label :nickname, Spree.t(:nickname) %> <span class="required">*</span><br />
    <%= f.text_field :nickname, :class => 'fullwidth title' %>
    <%= f.error_message_on :nickname %>
  <% end %>
  
  <%= f.field_container :visible do %>
    <%= f.label :visible, Spree.t(:visible) %>
    <%= f.select :visible, [['Visible', true], ['Not visible', false]] %>
  <% end %>

  <%= f.field_container :profile do %>
    <%= f.label :profile, Spree.t(:profile) %> <span class="required">*</span><br />
    <%= f.text_area :profile, :class => 'fullwidth title' %>
    <%= f.error_message_on :profile %>
  <% end %>
</div>

<div class="label-block right six columns omega">

  <%= f.field_container :image do %>
    <%= f.label :image, Spree.t(:image) %> <span class="required">*</span><br />
    <%= f.file_field :avatar, :class => 'fullwidth title' %>
    <%= f.error_message_on :image %>
  <% end %>

  <%= f.label Spree.t(:thumbnail) %><br>
  <%= link_to image_tag(@gang_member.avatar.url(:avatar)) if @gang_member.avatar? %>
</div>

<div class="clear"></div>
