<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_gang_members_list), session[:return_to] || admin_gang_members_url, :icon => 'icon-arrow-left' %></li>
  <li id="new_gang_member_link">
    <%= button_link_to Spree.t(:new_gang_member), new_object_url, { :icon => 'icon-plus', :id => 'admin_new_gang_member' } %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @gang_member } %>

<%= form_for [:admin, @gang_member], :method => :put, :html => { :multipart => true } do |f| %>
  <fieldset class="no-border-top">
    <div data-hook="admin_gang_member_edit_form">
      <%= render :partial => 'form', :locals => { :f => f } %>
    </div>
    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>

