<script type='text/template' id='variant_autocomplete_stock_template'>
  <fieldset>
    <legend align="center"><%= Spree.t(:select_stock) %></legend>
      <table class="stock-levels" data-hook="stock-levels">
        <colgroup>
          <col style="width: 25%;" />
          <col style="width: 25%;" />
          <col style="width: 30%;" />
          <col style="width: 20%;" />
          <col style="width: 10%;" />
        </colgroup>
        <thead>
          <th><%= Spree.t(:options) %></th>
          <th><%= Spree.t(:sku) %></th>
          <th><%= Spree.t(:total_on_hand) %></th>
          <th><%= Spree.t(:quantity) %></th>
          <th class="actions"></th>
        </thead>
        <tbody>
            <tr>
              <td>{{variant.options_text}}</td>
              <td>{{variant.sku}}</td>
              {{#unless variant.track_inventory}}
                <td>
                  It doesn't track inventory
                </td>
                <td>
                  <input class="quantity" id="variant_quantity" data-variant-id="{{variant.id}}" type="number" min="1" value="1">
                </td>
                <td class="actions">
                  <button class="add_variant no-text icon-plus icon_link with-tip" data-variant-id="{{this.id}}" title="<%= Spree.t(:add) %>" data-action="add"></button>
                </td>
              {{else}}
                {{#if variant.in_stock}}
                  <td>
                    {{variant.total_on_hand}}
                    {{#if variant.backorderable}} (<%= Spree.t(:backorders_allowed) %>) {{/if}}
                  </td>
                  <td>
                    <input class="quantity" id="variant_quantity" data-variant-id="{{variant.id}}" type="number" min="1" value="1">
                  </td>
                  <td class="actions">
                    <button class="add_variant no-text icon-plus icon_link with-tip" data-variant-id="{{variant.id}}" title="<%= Spree.t(:add) %>" data-action="add"></button>
                  </td>
                {{else}}
                  <td><%= Spree.t(:out_of_stock) %></td>
                  <td>0</td>
                {{/if}}
              {{/unless}}
            </tr>
          {{#if variant.assembly_definition_parts}}
            <tr><td colspan="3" style="text-align: center;"><strong>Assembly Definition Parts</strong></td></tr>
            <tr><th>Presentation</th><th>Variant</th><th>Optional?</th></tr>

            {{#each variant.assembly_definition_parts }}
            <tr>
              <td>{{this.presentation}}</td>
              <td>
                {{this.name}}<br/>
                <select class="part-options" data-url="{{this.url}}" data-key="">
                  {{#if this.optional}}
                    <option><%= Spree::AssemblyDefinitionPart::NO_THANKS%></option>
                  {{/if}}
                </select>
              </td>
              <td>{{this.optional}}</td>
            </tr>
            {{/each}}
          {{/if}}
        </tbody>
  </fieldset>
</script>
