<div data-hook="admin_variant_form_fields" class="label-block left six columns alpha">
  <div data-hook="variants">
    <% @product.option_types.each do |option_type| %>
      <div class="field" data-hook="presentation">
        <%= label :new_variant, option_type.presentation %>
        <%= f.collection_select 'option_value_ids', option_type.option_values, :id, :presentation,
          { :prompt => true }, { :name => 'variant[option_value_ids][]', :class => 'select2 fullwidth' } %>
      </div>
    <% end %>

    <% if !@variant.new_record? %>
      <div class="field" data-hook="sku">
        <%= f.label :sku, Spree.t(:sku) %>
        <%= f.text_field :sku, :class => 'fullwidth' %>
      </div>
    <% end %>

    <div class="field" data-hook="cost_price">
      <%= f.label :cost_price, Spree.t(:cost_price) %>
      <%= f.text_field :cost_price, :value => number_to_currency(@variant.cost_price, :unit => '') || 0.0, :class => 'fullwidth' %>
    </div>

    <div class="field" data-hook="tax_category">
      <%= f.label :tax_category_id, Spree.t(:tax_category) %>
      <%= f.collection_select(:tax_category_id, @tax_categories, :id, :name, { :include_blank => Spree.t('match_choices.none') }, { :class => 'select2 fullwidth' }) %>
    </div>

    <div class="field" data-hook="label">
      <%= f.label :label, Spree.t(:label) %>
      <%= f.text_field :label, :class => 'fullwidth' %>
    </div>

    <div class="twelve columns alpha omega">
      <%= f.field_container :targets do %>
        <%= f.label :targets, "Available for targets..." %>
	      <%= f.hidden_field :target_ids, :value => @variant.targets.map(&:id).join(','), :class => 'targets-autocomplete fullwidth' %>
      <% end %>
    </div>

    <div class="twelve columns alpha omega">
      <fieldset>
        <legend align="center"><%= Spree.t(:tags) %></legend>
	      <%= f.field_container :option_types do %>
	        <%= f.label :tags, Spree.t(:tags) %>
	        <%= f.hidden_field :tags, :value => @variant.tags.map(&:id).join(','), :class => 'tags-autocomplete fullwidth' %>
	      <% end %>
	<p><em>Don't put commas into tag names</em></p>
      </fieldset>
    </div>

    <div class="twelve columns alpha omega">
      <fieldset>
        <legend align="center"><%= Spree.t(:prices) %></legend>
        <%= f.field_container :prices do %>
          <%= render :partial => 'spree/admin/shared/prices', :locals => {:variant => @variant} %>
      <% end %>
      </fieldset>
    </div>

    <div class="twelve columns alpha omega">
      <fieldset>
	<legend align="center"><%= Spree.t(:stock_thresholds) %></legend>
        <%= render :partial => 'spree/admin/shared/stock_thresholds', :locals => {:variant => @variant} %>
      </fieldset>
    </div>

  </div>
</div>

<div class="right six columns omega label-block" data-hook="admin_variant_form_additional_fields">
  <% [:weight, :height, :width, :depth].each do |field| %>
    <div class="field" data-hook="<%= field %>"><%= f.label field, Spree.t(field) %>
      <% value = number_with_precision(@variant.send(field), :precision => 2) %>
      <%= f.text_field field, :value => value || 0.00, :class => 'fullwidth' %>
    </div>
  <% end %>
</div>

<% if @product.product_type.requires_supplier? and @variant.new_record? %>
  <div class="six columns omega">
  <%= f.field_container :supplier do %>
    <%= label_tag :supplier_id, Spree.t(:supplier) %>
  <%= select_tag 'variant[supplier_id]', options_from_collection_for_select(Spree::Supplier.all, :id, :name), :include_blank => true,
    class: 'select2 fullwidth' %>
<% end %>
  </div>
<% end %>



<div class="clear"></div>
