<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_tabs', :locals => { :current => 'Variants' } %>

<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @variant } %>

<% content_for :page_actions do %>
  <li><%= button_link_to("Create Sku", create_sku_admin_product_variant_url(@product, @variant), :icon => 'icon-refresh', :method => :post  ) %></li>

  <% if previous_variant = @variant.previous %>
    <li><%= link_to_with_icon('icon-arrow-left', Spree.t(:previous), edit_admin_product_variant_url(@product, previous_variant) , :class => 'button') %></li>
  <% end %>
  <% if next_variant = @variant.next %>
    <li><%= link_to_with_icon('icon-arrow-right', Spree.t(:next), edit_admin_product_variant_url(@product, next_variant) , :class => 'button') %></li>
  <% end %>


<% end %>

<%= form_for [:admin, @product, @variant] do |f| %>
  <fieldset class="no-border-top">
    <div data-hook="admin_variant_edit_form">
      <%= render :partial => 'form', :locals => { :f => f } %>
    </div>

    <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
