<%= f.field_container :name do %>
  <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
  <%= f.text_field :name, :class => 'fullwidth title' %>
  <%= f.error_message_on :name %>
<% end %>

<%= f.field_container :taxons do %>
  <%= f.label :taxon_ids, Spree.t(:taxons) %><br />
  <%= f.hidden_field :taxon_ids, :value => @product_group.taxon_ids.join(',') %>
<% end %>

<div class="clear"></div>

