<div class="row">
  <div class="alpha eight columns">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
      <%= f.text_field :name, :class => 'fullwidth title', :required => true %>
      <%= f.error_message_on :name %>
    <% end %>
  </div>

  <div class="four columns">
    <%= f.field_container :code do %>
      <%= f.label :code, "Commodity code" %> <span class="required">*</span><br />
      <%= f.text_field :code, :class => 'fullwidth', :required => true %>
      <%= f.error_message_on :code %>
    <% end %>
  </div>

  <div class="omega four columns">
    <%= f.field_container :country_id do %>
      <%= f.label :country_id, "Country of country" %> <span class="required">*</span><br />
      <%= f.collection_select(:country_id, Spree::Country.all, :id, :name, {},{ :class => 'select2 fullwidth' }) %>
      <%= f.error_message_on :country_id %>
    <% end %>
  </div>
</div>

<!-- <div class="clear"></div> -->



<div class="row">
  <div class="alpha eight columns">
    <%= f.field_container :contents do %>
      <%= f.label :contents, Spree.t(:contents) %>
      <%= f.text_area :contents, :rows => 10, :class => 'fullwidth' %>
      <%= f.error_message_on :contents %>
    <% end %>
  </div>

  <div class="four columns">
    <%= f.field_container :mid do %>
      <%= f.label :mid, "MID Code" %> <span class="required">*</span><br />
      <%= f.text_field :mid, :class => 'fullwidth' %>
      <%= f.error_message_on :mid %>
    <% end %>
  </div>

  <div class="omega four columns">
    <%= f.field_container :mid_uk do %>
      <%= f.label :mid_uk, "MID UK Code" %> (for gang made)<br />
      <%= f.text_field :mid_uk, :class => 'fullwidth' %>
      <%= f.error_message_on :mid_uk %>
    <% end %>
  </div>

  <br><br><br><br><br><br>

  <div class="four columns">
    <%= f.field_container :garment do %>
      <%= f.label :garment, "Garment" %> <span class="required">*</span><br />
      <%= f.text_field :garment, :class => 'fullwidth', :required => true %>
      <%= f.error_message_on :garment %>
    <% end %>
  </div>

  <div class="four columns">
    <%= f.field_container :fabric do %>
      <%= f.label :fabric, "Fabric" %> <span class="required">*</span><br />
      <%= f.select :fabric, %w[Knitted Yarn Wood Metal Plastic Paper], {}, :class => 'select2 fullwidth' %>
      <%= f.error_message_on :fabric %>
    <% end %>
  </div>
</div>

<div class="clear"></div>



