<%= f.field_container :name do %>
  <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
  <%= f.text_field :name, :class => 'fullwidth title' %>
  <%= f.error_message_on :name %>
<% end %>

<%= f.field_container :default_tab do %>
  <%= f.label :default_tab, Spree.t(:default_tab) %> <span class="required">*</span><br />
  <%= f.select(:default_tab, Spree::ProductGroupTab::TYPES, { :include_blank => false }, { :class => 'select2 title' }) %>
  <%= f.error_message_on :default_tab %>
<% end %>

<%= render :partial => 'tab', :locals => {:tab => @product_group.tab(:ready_to_wear)} %>
<%= render :partial => 'tab', :locals => {:tab => @product_group.tab(:knit_your_own)} %>

<div class="clear"></div>

