<div class="six columns" style="margin-left: 0;">

  <fieldset><legend><%= tab.tab_type %></legend>
    <% if tab.banner_mini_url %>
    <div>
      <%= image_tag(tab.banner_mini_url) %>
    </div>
    <% end %>

    <%= hidden_field_tag "tabs[#{tab.tab_type}][position]", position %>

    <div class="four columns alpha">
      <div data-hook="file" class="field">
        <%= label_tag Spree.t(:filename) %><br>
        <%= file_field_tag "tabs[#{tab.tab_type}][banner]" %>
      </div>
    </div>

    <div class="six columns">
      <label>Background color</label>
      #<%= text_field_tag "tabs[#{tab.tab_type}][background_color_code]", tab.background_color_code, size: 6, maxlength: 6 %>
    </div>

  </fieldset>
</div>
