<% content_for :page_title do %>
  <%= Spree.t(:displayable_variants) %>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<fieldset class="no-border-top">
  <%= form_tag admin_displayable_variants_path, method: :get do %>
    <%= select_tag 'product_id', options_from_collection_for_select(@products, 'id', 'name_and_type', @product_id), :class => 'select2' %>
    <%= submit_tag Spree.t(:search) %>
  <% end %>
</fieldset>

<fieldset class="no-border-top">
  <% if @variants %>
    <%= form_tag admin_displayable_variants_path do %>
      <%= hidden_field_tag :product_id, @product_id%>
      <table class="index">
        <colgroup>
          <col style="width: 25%" />
          <col style="width: 50%" />
          <col style="width: 25%" />
        </colgroup>
        <thead data-hook="variants_header">
          <tr>
            <th><%= Spree.t(:image) %></th>
            <th><%= Spree.t(:variant_combination) %></th>
            <th><%= Spree.t(:visible) %></th>
          </tr>
        </thead>
        <tbody>
          <% @variants.each do |variant| %>
            <tr id="<%= spree_dom_id variant %>" class="<%= cycle('odd', 'even')%>">
              <% if variant.images.any? %>
              <%= image_tag(variant.images.first.attachment.url(:listing)) %>
              <% else %>
              No image
              <% end %>
              <td><%= variant.options_text %></td>
              <td><%= check_box_tag 'variant_ids[]', variant.id, variant.visible? %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= submit_tag('Save') %>

      <button type="button" id="check_all" style="float: right">
        Check / Uncheck All
      </button>

    <% end %>
  <% else %>
    <div class="no-objects-found"><%= Spree.t(:no_results)%>.</div>
  <% end %>
</fieldset>

<script type='text/javascript'>
    $('#check_all').on("click", function(){ $('input[type="checkbox"]').click(); });
</script>
