<!DOCTYPE html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en" ><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->
<head data-hook="inside_head">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title><%= content_for?(:title) ? yield(:title) : title || "Wool And The Gang" %></title>
	<%= content_for?(:meta) ? yield(:meta) : meta_data_tags.html_safe %>
	
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	
	<%= csrf_meta_tags %>
  <script src="//cdn.optimizely.com/js/655644949.js"></script>
	<%= render "spree/shared/routes" %>
	<%= yield :head %>
</head>

<body id="<%= @body_id || 'default' %>" class="shop <%= body_class %>" data-hook="body">

	<%= render :partial => 'spree/shared/header' %>
	
	<%= render "spree/shared/menu" %>
	
	<%= render "spree/shared/shipping_and_contact" %>

	<div class="container">

		<div class="row">
			<div class="large-12 columns">
				<%= flash_messages %>
				<%= yield %>
			</div>
		</div>
		
		<%= render "spree/shared/footer" %>
	</div>
	
	<script>
          Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
	</script>
	
	<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>


	<% if body_class == 'homepage' %>
		<%= render :partial => 'spree/shared/facebook_pixel' %>
	<% end %>

	<%= render :partial => 'spree/shared/adroll_pixel' %>
	<%= render :partial => 'spree/shared/google_universal_analytics' %>
 	<%= render :partial => 'spree/shared/google_analytics' %>
 	<%= render :partial => 'spree/shared/google_adword_tag' %>
	
</body>
</html>
