<div data-hook="admin_shipping_method_duration_form_fields" class="alpha twelve columns">
  <%= f.field_container :description do %>
    <%= f.label :description, Spree.t(:description) %><br />
    <%= f.text_field :description, :class => 'fullwidth', disabled: false %>
    <%= error_message_on :shipping_method_duration, :description %>
  <% end %>

  <%= f.field_container :min do %>
    <%= f.label :min, Spree.t(:min_days) %><br />
    <%= f.text_field :min, :class => 'fullwidth'%>
    <%= error_message_on :shipping_method_min, :min %>
  <% end %>

  <%= f.field_container :max do %>
    <%= f.label :max, Spree.t(:max_days) %><br />
    <%= f.text_field :max, :class => 'fullwidth'%>
    <%= error_message_on :shipping_method_max, :max %>
  <% end %>
</div>
