<tr id="<%= spree_dom_id f.object %>" data-hook="images_row" class="<%= cycle('odd', 'even')%>">
  <td class="no-border"><span class="handle"></span></td>
  <td>
    <% if f.object.processed? %>
      <%= link_to image_tag(f.object.attachment.url(:small), style: "max-width: 180px"), f.object.attachment.url(:small) %>
    <% else %>
      <%= link_to image_tag(f.object.direct_upload_url, style: "max-width: 180px"), f.object.attachment.url(:small) %>
    <% end %>
  </td>
  <td>
    <%= label :target_id, "Target" %><br>
    <%= f.collection_select :target_id, Spree::Target.all, :id, :name, {:include_blank => true}, {:class => 'select2 fullwidth'} %>
  </td>          
  <td class="actions">    
    <%= link_to_delete f.object, { :url => admin_assembly_definition_image_path(@assembly_definition, f.object), :no_text => true } %>
  </td>
</tr>