<% if @outcome.success? %>
  <% snippet = nil %>
  <% ActionView::Helpers::FormBuilder.new(:assembly_definition, @assembly_definition, self, {}).fields_for(:images, :child_index => @outcome.result.id) do |image_form| %>
    <% snippet = capture do %>
      <%= render 'spree/admin/assembly_definition_images/image', :f => image_form %>
    <% end %>
  <% end %>

  $('#upload_<%=params[:unique_id]%>').hide();
  $('.no-objects-found').hide();
  $('#images_table_body').append('<%= j snippet %>');
  activateSelect2();
<% else %>
  $('#upload_<%=params[:unique_id]%> div.progress').removeClass('active progress-striped').
  addClass('progress-danger').append('<div><%= escape_javascript(@outcome.errors.message) %></div>');
<% end %>