<% content_for :page_title do %>
  <%= Spree.t(:orders_to_be_dispatched) %>
<% end %>

<% content_for :page_actions do %>
  <li>

    <%= form_tag invoices_admin_waiting_orders_url(format: :pdf, params: params), method: :put do |f| %>
      <%= submit_tag "Print selected #{[@batch_size, @unprinted_invoice_count, @collection.total_count].min} invoices", :target => "_blank" %>
    <% end %>

    <br/>
    <em><%= @unprinted_invoice_count %> unprinted</em>
  </li>
  <li>

    <%= form_tag image_stickers_admin_waiting_orders_url(format: :pdf), method: :put do |f| %>
      <%= submit_tag "Print next #{[@batch_size, @unprinted_image_count].min} stickers", :target => "_blank" %>
    <% end %>

    <br/>
    <em><%= @unprinted_image_count %> ready to print</em>
  </li>
<% end %>


<%= render :partial => 'spree/admin/shared/order_sub_menu' %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div>
    <%= search_form_for @search, url: admin_waiting_orders_path do |f| %>
      <div class="row">
        <div class="alpha four columns">
          <div class="field">
            <%= f.label :batch_print_id_eq, "Batch" %>
            <%= f.text_field :batch_print_id_eq, :size => 15 %>
          </div>
        </div>
        <div class="four columns">
          <div class="field">
            <%= f.label :number_eq, "Order Number" %>
            <%= f.text_field :number_eq, :size => 15 %>
          </div>
        </div>
        <div class="four columns">
          <div class="field">
            <%= f.label :email_cont, "Email" %>
            <%= f.text_field :email_cont, :size => 15 %>
          </div>
        </div>
        <div class="omega four columns">
          <div class="field">
            <br>
            <label>
              <%= f.check_box :batch_print_id_null %>
              Without a batch number
            </label>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="alpha four columns">
          <div class="field">
            <%= f.label :line_items_product_name_cont, "Product Name" %>
            <%= f.text_field :line_items_product_name_cont, :size => 15 %>
          </div>
        </div>
        <div class="four columns">
          <div class="field">
            <%= f.label :line_items_variant_sku_cont, "SKU" %>
            <%= f.text_field :line_items_variant_sku_cont, :size => 15 %>
          </div>
        </div>
        <div class="four columns">
          <div class="field">
            <%= f.label :line_items_product_marketing_type_id_in, "Marketing Types" %>
            <%= f.collection_select(:line_items_product_marketing_type_id_in, Spree::MarketingType.all, :id, :title, {include_blank: true},  { class: 'select2 fullwidth', multiple: true}) %>
          </div>
        </div>
        <div class="omega four columns">
          <div class="field">
            <%= label_tag  'ignored_marketing_type_ids[]', "Marketing Types to Ignore" %>
            <%= select_tag 'ignored_marketing_type_ids[]', options_from_collection_for_select(Spree::MarketingType.all, :id, :title, params['ignored_marketing_type_ids']), {class: 'select2 fullwidth', multiple: true} %>
            <small><a href="#" id="exclude-unselected">Ignore all except selected</a></small>
          </div>
        </div>
      </div>

      <div class="form-buttons actions filter-actions">
        <%= button Spree.t(:search), 'icon-search' %>
      </div>
    <% end %>

  </div>
<% end %>

<%= paginate @collection %>

<% unless @collection.empty? %>
  <table class="index responsive" id="listing_orders" data-hook>
    <colgroup>
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 10%;">
       <col style="width: 15%;">
       <col style="width: 35%;">
    </colgroup>
    <thead>
      <tr data-hook="admin_orders_index_headers">
        <th><%= Spree.t(:batch_id) %></th>
        <th><%= I18n.t(:number, :scope => 'activerecord.attributes.spree/order') %></th>
        <th>Packing</th>
        <th>Sticker</th>
        <th>Invoice</th>
        <th><%= I18n.t(:total, :scope => 'activerecord.attributes.spree/order') %></th>
        <th><%= Spree.t(:parcels) %></th>
        <th data-hook="admin_orders_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <% @collection.each_with_index do |order| %>
      <tr data-hook="admin_orders_index_rows" class="state-<%= order.state.downcase %> <%= cycle('odd', 'even') %>">
        <td class="align-center"><%= order.batch_print_id %></td>
        <td class="align-center">
          <% if order.important? %>
            <p class="important">Important</p>
          <% end %>
          <%= link_to order.number, edit_admin_order_path(order) %>
          <small><%= order.email %></small>
          <div class="field">
            <small><%= order.completed_at.to_datetime.to_s(:short) %></small>
          </div>
        </td>
        <td class="align-center">
          <% if order.batch_invoice_print_date.present? %>
            <%= link_to "Printed", admin_order_path(order, :type =>:packing_list, :format => 'pdf') %>

          <% else %>
            <%= link_to "Not Printed", admin_order_path(order, :type =>:packing_list, :format => 'pdf') %>
          <% end %>
        </td>
        <td class="align-center">
          <% if order.batch_sticker_print_date.present? %>
            <%= link_to "Printed", admin_order_path(order, :type =>:sticker, :format => 'pdf') %>
            <small><%= link_to "+", admin_print_job_path(order.image_sticker_print_job) %></small>
          <% else %>
            <%= link_to "Not Printed", admin_order_path(order, :type =>:sticker, :format => 'pdf') %>
          <% end %>
        </td>
        <td class="align-center">
          <% if order.batch_invoice_print_date.present? %>
            <%= link_to "Printed", admin_order_path(order, :format => 'pdf') %>
            <small><%= link_to "+", admin_print_job_path(order.invoice_print_job) %></small>
          <% else %>
            <%= link_to "Not Printed", admin_order_path(order, :format => 'pdf') %>
          <% end %>
        </td>
        <td class="align-center"><%= order.display_total.to_html %></td>
        <td class="align-center"><%= render :partial => 'boxes', :locals => {order: order, all_boxes: @all_boxes} %></td>
        <td class='actions align-center' data-hook="admin_orders_index_row_actions">
          <%= link_to_with_icon 'edit', Spree.t(:add_box), admin_waiting_order_path(order), :title => "admin_#{dom_id(order)}", :no_text => true, :class => 'add-box-to-order', 'data-order' => "order-#{order.id}" %>
          <%= button_to 'consignment', create_and_allocate_consignment_admin_waiting_order_path(id: order.id, page: params[:page]) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= Spree.t(:no_orders_found)%>
  </div>
<% end %>

<%= paginate @collection %>

<script>
$(document).ready(function(){
  $('.add-box-to-order').on('click', function(){
  $('#'+$(this).data('order')).show();
    return false;
  });

  excludeUnselected = function () {
    $("#exclude-unselected").click(function(event){
      event.preventDefault();
      var target_list = $(this).parent().parent().find('.select2:first');
      var source_list = $('#q_line_items_product_marketing_type_id_in:first');
      var selected = [];

      source_list.find("option:not(:selected)").each(function(index, el) {
        selected[selected.length] = $(el).attr("value");
      });
      target_list.select2("val", selected);
    });
  };

  excludeUnselected();


})



</script>
