<div class="row">
  <div class="left six columns alpha">
    <%= f.field_container :name do %>
      <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
      <%= f.text_field :name, :class => 'fullwidth title' %>
      <%= f.error_message_on :name %>
    <% end %>

    <%= f.field_container :title do %>
      <%= f.label :title, Spree.t(:title) %> <span class="required">*</span><br />
      <%= f.text_field :title, :class => 'fullwidth title' %>
      <%= f.error_message_on :title %>
    <% end %>

    <%= f.field_container :permalink do %>
      <%= f.label :permalink, Spree.t(:permalink) %> <span class="required">*</span><br />
      <%= f.text_field :permalink, :class => 'fullwidth title' %>
      <%= f.error_message_on :permalink %>
    <% end %>
  </div>

  <div class="dropzone right six columns omega" id="product_page_image_container">
    <%= image_tag(@product_page.image.attachment.url(:small)) if @product_page.image.present? %>
  </div>
</div>

<%= f.field_container :product_group do %>
  <%= f.label :product_group_ids, Spree.t(:product_group) %><br />
  <%= f.hidden_field :product_group_ids, :value => @product_page.product_group_ids.join(','), :class => 'fullwidth title'  %>
<% end %>
<%= f.field_container :index_page do %>
  <%= f.label :index_page_ids, "Index Pages" %><br />
  <%= f.hidden_field :index_page_ids, :value => @product_page.index_page_ids.join(','), :class => 'index-page-dropdown fullwidth title'  %>
<% end %>


<% Spree::ProductPageTab::TYPES.each_with_index do |tab_type, position| %>
<%= render :partial => 'tab', :locals => {:tab => @product_page.tab(tab_type), :position => position} %>
<% end %>

<div class="clear"></div>

<div class="fullwidth columns alpha omega">
  <fieldset>
    <legend align="center">Visible Tags</legend>
    <% @product_page.available_tags.each do |tag| %>
    <label class="tag">
      <%= hidden_field_tag "product_page[tags][]" %>
      <%= check_box_tag "product_page[tags][]", tag.id, @product_page.tags.include?(tag), :id => "product_page_tags_#{tag.id}" %>
      <%= tag.value %>
    </label>
    <% end %>
  </fieldset>
</div>
