<div class="left six columns alpha">
  <%= f.field_container :name do %>
    <%= f.label :name, Spree.t(:name) %> <span class="required">*</span><br />
    <%= f.text_field :name, :class => 'fullwidth title' %>
    <%= f.error_message_on :name %>
  <% end %>

  <%= f.field_container :permalink do %>
    <%= f.label :permalink, Spree.t(:permalink) %> <span class="required">*</span><br />
    <%= f.text_field :permalink, :class => 'fullwidth title' %>
    <%= f.error_message_on :permalink %>
    <span class="info">
      <%= link_to_with_icon 'icon-external-link', "Jump to frontpage", product_page_path(id: @product_page.permalink), target: :blank %>
    </span>
  <% end %>

</div>

<div class="right six columns alpha">
  <%= f.field_container :title do %>
    <%= f.label :title, Spree.t(:title) %> <span class="required">*</span><br />
    <%= f.text_field :title, :class => 'fullwidth title' %>
    <%= f.error_message_on :title %>
  <% end %>

  <%= f.field_container :target do %>
    <%= f.label :target_id, "Target" %><br>
    <%= f.collection_select(:target_id, Spree::Target.all, :id, :name, {include_blank: true},  { class: 'select2 fullwidth'}) %>
  <% end %>

</div>

<div class="twelve columns alpha omega">
  <%= f.field_container :index_page do %>
    <%= f.check_box :accessories  %>
    <%= f.label :accessories, "Show accessories instead of Ready To Wear products" %>
  <% end %>
</div>


<%= render :partial => "spree/admin/products/product_autocomplete", :formats => :js %>

<%= f.fields_for :tabs do |builder| %>
  <%= render 'tab', f: builder %>
<% end %>

<div class="clear"></div>


<%= f.field_container :product_group do %>
  <%= f.label :product_group_ids, Spree.t(:product_group) %><br />
  <%= f.hidden_field :product_group_ids, :value => @product_page.product_group_ids.join(','), :class => 'fullwidth title'  %>
<% end %>

<div class="fullwidth columns alpha omega">
  <fieldset>
    <legend align="center">Visible Tags</legend>
    <% @product_page.available_tags.each do |tag| %>
    <label class="tag">
      <%= hidden_field_tag "product_page[tags][]" %>
      <%= check_box_tag "product_page[tags][]", tag.id, @product_page.tags.include?(tag), :id => "product_page_tags_#{tag.id}" %>
      <%= tag.value %>
    </label>
    <% end %>
  </fieldset>
</div>
