<div class="six columns alpha">

  <fieldset><legend><%= tab_type(tab) %></legend>

    <%= hidden_field_tag "tabs[#{tab.tab_type}][position]", position %>

    <div class="six columns alpha">
      <div class="dropzone" id="<%= tab.tab_type %>_image_container">
        <%= image_tag(tab.image.attachment.url(:small)) if tab.image.present? %>
      </div>

      <br>
      <label>Background color</label>
      # &nbsp; <%= text_field_tag "tabs[#{tab.tab_type}][background_color_code]", tab.background_color_code, size: 6, maxlength: 6 %>
    </div>

  </fieldset>
</div>
