<div class="six columns alpha">
  <fieldset>
    <legend><%= tab_type(f.object) %></legend>


    <div class="six columns alpha">
      <div class="field">
        <%= f.label :product_id, Spree.t('product_rule.choose_products') %>
        <%= f.hidden_field :product_id, :class => "product_autocomplete fullwidth" %>
        <span class="info">
          <% if f.object.product %>
            <%= link_to_with_icon 'icon-external-link', "Jump to product", edit_admin_product_path(id: f.object.product), target: :blank %>
          <% end %>
        </span>
      </div>
      <div class="dropzone" id="<%= f.object.tab_type %>_image_container">
        <div class="product_page_item_image">
          <%= f.fields_for :image do |image_fields| %>
            <%= image_tag(image_fields.object.attachment.url(:small))%>
          <% end %>
        </div>
      </div>

      <%= f.fields_for :image do |image_fields| %>
        <%= image_fields.hidden_field :_destroy %>
        <%= link_to_with_icon 'icon-trash', "Delete Image", "#", class: "remove_image" %>
      <% end %>

    </div>

  </fieldset>
</div>
