<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_product_pages_list), admin_product_pages_url, :icon => 'icon-arrow-left' %></li>
  <li id="new_product_page_link">
    <%= button_link_to Spree.t(:new_product_page), new_object_url, { :icon => 'icon-plus', :id => 'admin_new_product_page' } %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/new_product_pages_enabled' %>
<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<%= render :partial => 'spree/admin/shared/product_page_tabs', :locals => { :product_page => @product_page, :current => 'Product Group Details' } %>
<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @product_page } %>


<div id="uploads_container"></div>

<script id="template-upload" type="text/x-tmpl">
  <div id="upload_{%=o.unique_id%}" class="upload">
    <h5>{%=o.name%}</h5>
    <div class="progress progress-striped active"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>

<% @product_page.tabs.each do |tab| %>
  <%= s3_uploader_form callback_url: s3_callback_admin_product_page_path(@product_page),
    class: "s3_uploader_form",
    data: {
      tab: tab.id,
      drop_zone: "##{tab.tab_type}_image_container"
    },
    callback_param: "image[direct_upload_url]",
    expiration: 24.hours.from_now.utc.iso8601,
    max_file_size: 100.megabytes do %>
    <%= file_field_tag :file, multiple: true, style: "display:none" %>
  <% end %>
<% end %>

<%= form_for [:admin, @product_page] do |f| %>
  <div data-hook="admin_product_page_edit_form">
    <%= render 'form', f: f  %>
  </div>
  <%= render :partial => 'spree/admin/shared/edit_resource_links' %>
<% end %>

