<% content_for :page_title do %>
  <%= Spree.t(:listing_product_pages) %>
<% end %>

<% content_for :page_actions do %>
  <li id="new_product_page">
    <%= button_link_to Spree.t(:new_product_product_page), new_object_url, { :remote => true, :icon => 'icon-plus', :id => 'admin_new_product_page' } %>
  </li>
<% end %>

<%= render :partial => 'spree/admin/shared/product_sub_menu' %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook="admin_product_pages_sidebar">

    <%= search_form_for [:admin, @search] do |f| %>

        <%- locals = {:f => f} %>

        <div data-hook="admin_product_pages_index_search">
          <div class="alpha nine columns">
            <div class="field">
              <%= f.label :name_cont, Spree.t(:name) %>
              <%= f.text_field :name_cont, :size => 15 %>
            </div>
          </div>
        </div>

        <div class="clear"></div>

        <div class="form-buttons actions filter-actions" data-hook="admin_product_pages_index_search_buttons">
          <%= button Spree.t(:search), 'icon-search' %>
        </div>
    <% end %>
  </div>
<% end %>

<div id="new_product_page_wrapper" data-hook></div>

<%= paginate @collection %>

<% if @collection.any? %>
  <table class="index" id="listing_product_pages">
    <colpage>
       <col style="width: 85%;">
    </colpage>
    <thead>
      <tr data-hook="admin_product_pages_index_headers">
        <th><%= Spree.t(:name) %></th>
      </tr>
    </thead>
    <tbody>
      <% @collection.each do |product_page| %>
          <tr <%= spree_dom_id product_page %>" data-hook="admin_product_pages_index_rows" class="<%= cycle('odd', 'even') %>">
            <td class="align-center"><%= product_page.name rescue '' %></td>
            <td class="actions" data-hook="admin_product_pages_index_row_actions">
              <%= link_to_edit product_page, :no_text => true, :class => 'edit' %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="no-objects-found">
    <%= Spree.t(:no_results) %>
  </div>
<% end %>

<%= paginate @collection %>

