<!-- Press logos -->
<div class="row-press-logos">
	<div class="row">
		<div class="large-12 columns">
			<h6>As seen in</h6>
			<% if mobile_device? %>
				<%= cdn_image_tag("sitewide/Footer_Logos_MOBILE.jpg", alt: "Vogue, Elle, The New York Times and more!") %>
			<% else %>
				<%= cdn_image_tag("sitewide/Footer_Logos_DESKTOP.jpg", width: "970", height: "49", alt: "Vogue, Elle, The New York Times and more!") %>
			<% end %>	
		</div>
	</div>
</div>

<% cache ['footer', Spree::Taxonomy.navigation_cache_key, device, current_currency] do %>
<!-- Global footer -->
<footer class="row">
  <!-- Newsletter signup / social media -->
  <% unless mobile_device? %>
    <%= render "/spree/shared/footer_nav" %>
  <% else %>
    <%= render "/spree/shared/mobile_footer_nav" %>
  <% end %>

</footer>

<!-- Cookie message -->
<div class="row row-cookie">
  <p><span>Hello there!</span> This website uses cookies. If you're down with that, just carry on as you were. <a href="#">Don't show this message again</a>. | <a href="/terms-and-conditions#cookies">Read about cookies</a>.</p>
</div>

<!-- Shipping modal -->
<% if free_shipping? %>
<div class="modal" id="modal-shipping">
  <a class="modal-close" href="#">Close</a>
  <%= render "/spree/shared/shipping/shipping_#{current_country_code.downcase}" %>
  <p>
    <a class="button" href="#">OK, got it</a>
  </p>
</div>
<% end %>

<!-- Contact modal -->
<div class="modal" id="modal-contact">
  <a class="modal-close" href="#">Close</a>
  <h3>Contact Us</h3>
  <% if production_or_staging? %>
    <iframe src="https://woolthegang.desk.com/customer/emails/new"></iframe>
  <% end %>
</div>

<!-- Signup modal -->
<div class="modal" id="modal-signup">
  <a class="modal-close" href="#">Close</a>
  <%= render "/spree/shared/modal_signup" %>
  <p class="hide">
    <a class="button" href="#">OK, got it</a>
  </p>
</div>

<!-- Alpaca -->
<% unless mobile_device? %>
  <img class="alpaca-attack" src="<%= image_path("alpaca-attack.gif") %>" alt="THE ALPACAS ARE ATTACKING" />
<% end %>

<%= yield :modals %>
<% end %>
