<img class="alpaca-attack" src="<%= image_path("alpaca.png") %>" alt="THE ALPACAS ARE ATTACKING" />
<header class="container">
	<div class="row nav-top">
		<div class="large-2 small-2 columns">
			<a class="link-nav-primary-sub" href="#navPrimarySub">Navigation</a>
		</div>
		<div class="large-10 small-10 columns">
			<%= render :partial => 'spree/shared/nav_bar' %>
			<%= render :partial => 'spree/shared/main_nav_bar' %>
		</div>
	</div>
	<div class="row row-logo">
		<div class="large-2 columns">
			<%= link_to root_path do %>
				<img src="<%= image_path("logo-watg-135x99.png") %>" width="135" height="99" alt="Wool And The Gang" />
			<% end %>
		</div>
	</div>
</header>
