<!-- Primary navigation -->
<nav id="navPrimary" class="row nav-primary">
	<ul>
		<li class="sale">
			<a href="/t/sale/made-by-the-gang">Sale</a>
		</li><!-- Comments fix inline-block spacing
		--><li class="whats-new">
			<a href="/shop/knitwear/whats-new">What's new</a>
		</li><!--
		--><li class="women">
			<a href="/shop/knitwear/women">Women</a>
		</li><!--
		--><li class="men">
			<a href="/shop/knitwear/men">Men</a>
		</li><!--
		--><li class="kids">
			<a href="/shop/knitwear/kids">Kids</a>
		</li><!--
		--><li class="knitting">
			<a href="/shop/knitwear/knitting">Knitting</a>
		</li><!--
		--><li class="gang-culture">
			<a href="/meet-the-gang">Gang Culture</a>
		</li>
	</ul>
</nav>
<!-- Primary sub-navigation -->
<nav id="navPrimarySub" class="row nav-primary-sub">
	<ul class="whats-new-sub">
		<li class="large-3 columns">
			<h2>Hot off the <span>drawing board</span></h2>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/shop/knitwear/whats-new">What's new</a>
			</h3>
			<ul>
				<%= render 'spree/navigation/whats_new' %>
			</ul>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/shop/knitwear/collections">Our collections</a>
			</h3>
			<ul>
				<%= render 'spree/navigation/collections' %>
			</ul>
		</li>
		<li class="large-3 columns">
			<a href="/shop/items/live-forever-cardigan/made-by-the-gang">
        <img src="<%= cdn_url('navigation/whats-new-live-forever-cardigan.jpg') %>" width="230" height="294" alt="Live Forever Cardigan" />
				<h3>Live Forever Cardigan</h3>
				<p>Shop now</p>
			</a>
		</li>
	</ul>
	<ul class="women-sub">
		<li class="large-3 columns">
			<h2>Ready Made <span>or Knit Your Own</span></h2>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/shop/knitwear/women">Women</a>
			</h3>
			<ul>
				<%= render 'spree/navigation/women' %>
			</ul>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/shop/knitwear/collections">Our collections</a>
			</h3>
			<ul>
				<%= render 'spree/navigation/collections' %>
			</ul>
		</li>
		<li class="large-3 columns inverted">
			<a href="/shop/items/tartan-zion-lion-women/made-by-the-gang">
        <img src="<%= cdn_url( 'navigation/women-tartan-zion-lion.jpg' )%>" width="230" height="294" alt="Tartan Zion Lion" />
				<h3>Tartan Zion Lion</h3>
				<p>Shop now</p>
			</a>
		</li>
	</ul>
	<ul class="men-sub">
		<li class="large-3 columns">
			<h2>Ready Made <span>or Knit Your Own</span></h2>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/shop/knitwear/men">Men</a>
			</h3>
			<ul>
				<%= render 'spree/navigation/men' %>
			</ul>
		</li>
		<li class="large-3 columns">
			<a href="/shop/items/knit-jagger-jumper-men/made-by-the-gang">
				<img src="<%= cdn_url('navigation/men-knit-jagger-jumper-1214.jpg') %>" width="230" height="294" alt="Knit Jagger Jumper" />
				<h3>Knit Jagger Jumper</h3>
				<p>Shop now</p>
			</a>
		</li>
		<li class="large-3 columns">
			<a href="/shop/items/bullitt-beanie-men/made-by-the-gang">
				<img src="<%= cdn_url('navigation/men-bullit-beanie.jpg') %>" width="230" height="294" alt="Bullit Beanie" />
				<h3>Bullit Beanie</h3>
				<p>Shop now</p>
			</a>
		</li>
	</ul>
	<ul class="kids-sub">
		<li class="large-3 columns">
			<h2>Ready Made <span>or Knit Your Own</span></h2>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/shop/knitwear/kids">Kids</a>
			</h3>
			<ul>
				<%= render 'spree/navigation/kids' %>
			</ul>
		</li>
		<li class="large-3 columns">
			<h3>
				Our collections
			</h3>
			<ul>
				<li><a href="/shop/knitwear/collections/baby-gang-autumn-winter">Baby Gang Autumn/Winter</a></li>
				<li><a href="/shop/knitwear/collections//baby-gang-spring-summer">Baby Gang Spring/Summer</a></li>
			</ul>
		</li>
		<li class="large-3 columns">
			<a href="/shop/knitwear/kids/baby-gang">
				<img src="<%= cdn_url('navigation/kids-personalise-it.jpg') %>" width="230" height="294" alt="Personalise it!" />
				<h3>Personalise it!</h3>
				<p>Shop now</p>
			</a>
		</li>
	</ul>
	<ul class="knitting-sub">
		<li class="large-3 columns">
			<h2>All you need <br/><span>for your knitting project</span></h2>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/shop/knitwear/knitting">Knitting</a>
			</h3>
			<ul>
				<%= render 'spree/navigation/knitting' %>
			</ul>
		</li>
		<li class="large-3 columns inverted">
			<a href="/shop/items/crazy-sexy-wool/made-by-the-gang">
				<img src="<%= cdn_url('navigation/knitting-crazy-sexy-wool-1214-4.jpg') %>" width="230" height="294" alt="Crazy Sexy Wool" />
				<h3>Crazy Sexy Wool</h3>
				<p>Shop now</p>
			</a>
		</li>
		<li class="large-3 columns inverted">
			<a href="/video-tutorials">
				<img src="<%= cdn_url('navigation/knitting-wool-school-1214.jpg') %>" width="230" height="294" alt="Wool School" />
				<h3>Wool School</h3>
				<p>Learn something new</p>
			</a>
		</li>
	</ul>
	<ul class="gang-culture-sub">
		<li class="large-3 columns">
			<h2>Hang with The Gang</h2>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/meet-the-gang">Gang Culture</a>
			</h3>
			<ul>
				<li><a href="/vote-for-your-favourite">Gang Labs</a></li>
				<li><a href="http://blog.woolandthegang.com">Our Blog</a></li>
				<li><a href="http://tumblr.woolandthegang.com">Our Tumblr</a></li>
				<li><a href="/our-story">Our Story</a></li>
				<li><a href="/become-a-gang-maker">Become a Gang Maker</a></li>
				<li><a href="/video-tutorials">Video Tutorials</a></li>
				<li><a href="/bespoke-projects">Bespoke Projects</a></li>
				<!--<li><a href="/press">Press</a></li>-->
				<li><a href="/host-a-party">Host a Knit Party</a></li>
				<li><a href="/raf/invite">Get Your Next Order For Free!</a></li>
			</ul>
		</li>
		<li class="large-3 columns inverted">
			<a href="/host-a-party">
        <img src="<%= cdn_url('navigation/knit-party-map.jpg') %>" width="230" height="294" alt="Refer a friend" />
				<h3>Host a Knit Party</h3>
				<p>Get a free knit kit!</p>
			</a>
		</li>
		<li class="large-3 columns">
			<a href="/video-tutorials">
				<img src="<%= cdn_url('navigation/gang-culture-wool-school-0914.jpg') %>" width="230" height="294" alt="Wool School" />
				<h3>Wool School</h3>
				<p>Learn something new</p>
			</a>
		</li>
	</ul>
</nav>
