<!-- Primary navigation -->
<nav id="navPrimary" class="row nav-primary">
	<ul>
		<li class="sale">
			<a href="/shop/knitwear/sale/made-by-the-gang">Sale</a>
		</li><!-- Comments fix inline-block spacing
		--><li class="whats-new">
			<a href="/shop/knitwear/whats-new">What's new</a>
		</li><!--
		--><li class="women">
			<a href="/shop/knitwear/women">Women</a>
		</li><!--
		--><li class="men">
			<a href="/shop/knitwear/men">Men</a>
		</li><!--
		--><li class="kids">
			<a href="/shop/knitwear/kids">Kids</a>
		</li><!--
		--><li class="knitting">
			<a href="/shop/knitwear/knitting">Knitting</a>
		</li><!--
		--><li class="gang-culture">
			<a href="/meet-the-gang">Gang Culture</a>
		</li>
	</ul>
</nav>
<!-- Primary sub-navigation -->
<nav id="navPrimarySub" class="row nav-primary-sub">
	<ul class="whats-new-sub">
		<li class="large-3 columns">
			<h2>Hot off the <span>drawing board</span></h2>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/shop/knitwear/whats-new">What's new</a>
			</h3>
			<ul>
				<%= render 'spree/navigation/whats_new' %>
			</ul>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/shop/knitwear/collections">Our collections</a>
			</h3>
			<ul>
				<%= render 'spree/navigation/collections' %>
			</ul>
		</li>
		<li class="large-3 columns">
			<a href="/shop/items/primo-sweater-women/made-by-the-gang">
				<img src="<%= cdn_prefix %>navigation/whats-new-primo-sweater.jpg" width="230" height="294" alt="Primo Sweater" />
				<h3>Primo Sweater</h3>
				<p>Shop now</p>
			</a>
		</li>
	</ul>
	<ul class="women-sub">
		<li class="large-3 columns">
			<h2>Made By The Gang <span>or Knit Your Own</span></h2>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/shop/knitwear/women">Women</a>
			</h3>
			<ul>
				<%= render 'spree/navigation/women' %>
			</ul>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/shop/knitwear/collections">Our collections</a>
			</h3>
			<ul>
				<%= render 'spree/navigation/collections' %>
			</ul>
		</li>
		<li class="large-3 columns">
			<a href="/shop/items/mind-the-gap-sweater-women/made-by-the-gang">
				<img src="<%= cdn_prefix %>navigation/whats-new-mind-the-gap.jpg" width="230" height="294" alt="Mind The Gap" />
				<h3>Mind The Gap</h3>
				<p>Shop now</p>
			</a>
		</li>
	</ul>
	<ul class="men-sub">
		<li class="large-3 columns">
			<h2>Made By The Gang <span>or Knit Your Own</span></h2>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/shop/knitwear/men">Men</a>
			</h3>
			<ul>
				<%= render 'spree/navigation/men' %>
			</ul>
		</li>
		<li class="large-3 columns">
			<a href="/shop/items/stevie-sweater-men/made-by-the-gang">
				<img src="<%= cdn_prefix %>navigation/men-stevie-sweater.jpg" width="230" height="294" alt="Stevie Sweater" />
				<h3>Stevie Sweater</h3>
				<p>Shop now</p>
			</a>
		</li>
		<li class="large-3 columns">
			<a href="/shop/items/zissou-hat-men/made-by-the-gang">
				<img src="<%= cdn_prefix %>navigation/men-zissou-hat.jpg" width="230" height="294" alt="Zissou Hat" />
				<h3>Zissou Hat</h3>
				<p>Shop now</p>
			</a>
		</li>
	</ul>
	<ul class="kids-sub">
		<li class="large-3 columns">
			<h2>Made By The Gang <span>or Knit Your Own</span></h2>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/shop/knitwear/kids">Kids</a>
			</h3>
			<ul>
				<%= render 'spree/navigation/kids' %>
			</ul>
		</li>
		<li class="large-3 columns inverted">
			<a href="/shop/items/sailor-sweater-for-kids/knit-your-own">
				<img src="<%= cdn_prefix %>navigation/kids-sailor-sweater.jpg" width="230" height="294" alt="Stevie Sweater" />
				<h3>Sailor Sweater</h3>
				<p>Shop now</p>
			</a>
		</li>
		<li class="large-3 columns">
			<a href="/shop/knitwear/kids/baby-gang">
				<img src="<%= cdn_prefix %>navigation/kids-personalise-it.jpg" width="230" height="294" alt="Personalise it!" />
				<h3>Personalise it!</h3>
				<p>Shop now</p>
			</a>
		</li>
	</ul>
	<ul class="knitting-sub">
		<li class="large-3 columns">
			<h2>All you need <br/><span>for your knitting project</span></h2>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/shop/knitwear/knitting">Knitting</a>
			</h3>
			<ul>
				<%= render 'spree/navigation/knitting' %>
			</ul>
		</li>
		<li class="large-3 columns inverted">
			<a href="/shop/items/mixtape-yarn/made-by-the-gang">
				<img src="<%= cdn_prefix %>navigation/knitting-mixtape-yarn.jpg" width="230" height="294" alt="Mixtape Yarn" />
				<h3>Mixtape Yarn</h3>
				<p>Shop now</p>
			</a>
		</li>
		<li class="large-3 columns">
			<a href="/video-tutorials">
				<img src="<%= cdn_prefix %>navigation/knitting-wool-school.jpg" width="230" height="294" alt="Wool School" />
				<h3>Wool School</h3>
				<p>Learn something new</p>
			</a>
		</li>
	</ul>
	<ul class="gang-culture-sub">
		<li class="large-3 columns">
			<h2>Hang with The Gang</h2>
		</li>
		<li class="large-3 small-12 columns">
			<h3>
				<a href="/meet-the-gang">Gang Culture</a>
			</h3>
			<ul>
				<li><a href="/vote-for-your-favourite">Gang Labs</a></li>
				<li><a href="http://blog.woolandthegang.com">Our Blog</a></li>
				<li><a href="http://tumblr.woolandthegang.com">Our Tumblr</a></li>
				<li><a href="/our-story">Our Story</a></li>
				<li><a href="/gang-manifesto">Gang Manifesto</a></li>
				<li><a href="/become-a-gang-maker">Become a Gang Maker</a></li>
				<li><a href="/video-tutorials">Video Tutorials</a></li>
				<li><a href="/bespoke-projects">Bespoke Projects</a></li>
				<!--<li><a href="/press">Press</a></li>-->
				<li><a href="/hang-with-the-gang">Hang With The Gang</a></li>
			</ul>
		</li>
		<li class="large-3 columns">
			<a href="/vote-for-your-favourite">
				<img src="<%= cdn_prefix %>navigation/ganglabs-vote-menu-dropdown.jpg" width="230" height="294" alt="Vote for your favourite" />
				<h3>Gang labs</h3>
				<p>Gang lab #2 now open</p>
			</a>
		</li>
		<li class="large-3 columns">
			<a href="/video-tutorials">
				<img src="<%= cdn_prefix %>navigation/gang-culture-wool-school.jpg" width="230" height="294" alt="Wool School" />
				<h3>Wool School</h3>
				<p>Learn something new</p>
			</a>
		</li>
	</ul>
</nav>
