<div class="mobile-marketing">
  <div class="row">
    <form action="/subscribe" method="post" class="signup-form newsletter-subscribe">
      <div class="mobile-newsletter">
        <input type="email" value="" name="signupEmail" placeholder="Sign up for Gang News" />
        <input type="hidden" name="source" value="Website - Footer" />
        <button type="submit" class="button">Go</button>
      </div>    
    </form>
    <div class="signup-response">
      <div>
      </div>
    </div>
  </div>
  
  <section class="mobile-social">
    <div class="row">
      <div class="mobile-hang social-icons">
        <a href="http://twitter.com/woolandthegang" target="_blank" class="first-icon"><i class="icon-twitter"></i></a>
        <a href="http://www.facebook.com/pages/Wool-and-the-Gang/45057178937?ref=ts" target="_blank"><i class="icon-facebook"></i></a>
        <a href="http://www.pinterest.com/woolandthegang/" target="_blank"><i class="icon-pinterest"></i></a>
        <a href="http://www.youtube.com/user/WOOLANDTHEGANGsa" target="_blank"><i class="icon-youtube"></i></a>
        <a href="http://tumblr.woolandthegang.com" target="_blank"><i class="icon-tumblr"></i></a>
        <a href="http://instagram.com/woolandthegang" target="_blank"><i class="icon-instagram"></i></a>
      </div>
    </div>
  </section>

  <section class="mobile-raf">
    <div class="row mobile-raf">
      <div>
        <a href="/raf/invite"><i class="icon-smile"></i> <h6>Get your next order for free!</h6> <i class="icon-angle-right"></i></a>
      </div>
    </div>
  </section>


  <!-- pop down menu -->
  <div class="row row-button">
    <button class="more-footer button-normal">More +</button>
  </div>

  <div class="row dropdown hidden">
    <section class="footer-global-unit-mobile gang-culture ">  
      <h6>Gang Culture</h6>
      <ul class="sub-menu">
        <li><%= link_to('Our Blog', 'http://blog.woolandthegang.com') %></li>
        <li><%= link_to('Our Tumblr', 'http://tumblr.woolandthegang.com') %></li>
        <li><%= link_to('Our Story', '/our-story') %></li>
        <li><%= link_to('Become a Gang Maker', '/become-a-gang-maker') %></li>
        <li><%= link_to('Video Tutorials', '/video-tutorials') %></li>
        <li><%= link_to('Bespoke Projects', '/bespoke-projects') %></li>
        <li><%= link_to('Hang With The Gang', '/hang-with-the-gang') %></li>
        <li><%= link_to('Find a Store', '/stockists') %></li>
      </ul>
    </section>
  </div>

  <div class="row dropdown hidden">
    <section class="footer-global-unit-mobile help">
      <h6>Help</h6>
      <ul class="sub-menu">
        <li><%= link_to('FAQs', '/faqs') %></li>
        <li><%= link_to('Careers', '/careers') %></li>
        <li><%= link_to('Contact Us', '/contact-us') %></li>
        <li><%= link_to('Ts & Cs', '/terms-and-conditions') %></li>
        <li><%= link_to('Privacy', '/privacy') %></li>
      </ul>
    </section>
  </div>
</div>