<div class="item-description" data-hook="cart_item_description">

  <h4><%= link_to variant.product.name, path_to_variant(line_item, variant) %></h4>
  <%= variant.options_text %>
  <% if @order.insufficient_stock_lines.include? line_item or line_item.errors.any? %>
    <span class="out-of-stock"><%= Spree.t(:out_of_stock) %>&nbsp;&nbsp;<br /></span>
  <% end %>

  <% if line_item.line_item_parts.required.not_operational.without_subparts.any? %>
    <h6>Parts:</h6>
    <ul class='assembly_parts'>
      <% line_item.line_item_parts.required.not_operational.without_subparts.each do |o| %>
        <li class="line-item-option"><%= "#{[o.variant.name, o.variant.options_text].delete_if(&:empty?).join(' -- ')}" %></li>
      <% end %>
    </ul>
  <% end %>

  <% if line_item.line_item_parts.optional.any? %>
    <h6>Optional Parts:</h6>
    <ul class='assembly_parts'>
      <% line_item.line_item_parts.optional.each do |o| %>
        <li class="line-item-option"><%= "#{[o.variant.name, o.variant.options_text].delete_if(&:empty?).join(' -- ')}" %></li>
      <% end %>
    </ul>
  <% end %>

  <% if !line_item.line_item_personalisations.blank? %>
    <h6>Personalisations:</h6>
    <ul class="personalisations">
      <% line_item.line_item_personalisations.each do |p| %>
        <li class="line-item-personalisation"> <%= p.text %> </li>
      <% end %>
    </ul>
  <% end %>
</div>
