<% cache ['taxon_driven_menu', Spree::Taxonomy.navigation_cache_key, device, current_currency] do %>
<% @taxonomies = get_taxonomies %>
<% kids = @taxonomies.detect{ |taxonomy| taxonomy.root.permalink == 'kids' }.root %>
<% women = @taxonomies.detect{ |taxonomy| taxonomy.root.permalink == 'women' }.root %>
<% men = @taxonomies.detect{ |taxonomy| taxonomy.root.permalink == 'men' }.root %>
<% knitting = @taxonomies.detect{ |taxonomy| taxonomy.root.permalink == 'knitting' }.root %>
<% whats_new = @taxonomies.detect{ |taxonomy| taxonomy.root.permalink == 'whats-new' }.root %>
<% collections = @taxonomies.detect{ |taxonomy| taxonomy.root.permalink == 'collections' }.root %>

<!-- Primary navigation THIS IS NOT USED IN MOBILE -->
<nav id="navPrimary" class="row nav-primary">
	<ul>
		<li class="sale">
			<a href="/shop/knitwear/sale/made-by-the-gang">Sale</a>
		</li><!-- Comments fix inline-block spacing
		--><li class="whats-new">
			<a href="<%= seo_url(whats_new) %>">What's new</a>
		</li><!--
		--><li class="women">
			<a href="<%= seo_url(women) %>">Women</a>
		</li><!--
		--><li class="men">
			<a href="<%= seo_url(men) %>">Men</a>
		</li><!--
		--><li class="kids">
			<a href="<%= seo_url(kids) %>">Kids</a>
		</li><!--
		--><li class="knitting">
			<a href="<%= seo_url(knitting) %>">Knitting</a>
		</li><!--
		--><li class="gang-culture">
			<a href="/meet-the-gang">Gang Culture</a>
		</li>
	</ul>
</nav>

<!-- Primary sub-navigation -->
	<% if mobile_device? %>
		<%= render 'spree/shared/taxons_driven_mobile_sub_menu', whats_new: whats_new, women: women, men: men, kids: kids, knitting: knitting, collections: collections %>
	<% else %>
		<%= render 'spree/shared/taxons_driven_desktop_sub_menu', whats_new: whats_new, women: women, men: men, kids: kids, knitting: knitting, collections: collections %>
	<% end %>
<% end %>
