<nav id="navPrimarySub" class="row nav-primary-sub">
  <ul class="whats-new-sub">
    <li class="large-3 columns">
      <h2>Hot off the <span>drawing board</span></h2>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="<%= seo_url(whats_new) %>">What's new</a>
      </h3>
      <ul>
        <%= render_taxons_links(whats_new) %>
      </ul>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="<%= seo_url(collections) %>">Our collections</a>
      </h3>
      <ul>
        <%= render_taxons_links(collections) %>
      </ul>
    </li>
    <li class="large-3 columns">
      <a href="<%= suite_path(id: 'live-forever-cardigan', tab: 'made-by-the-gang') %>">
        <img src="<%= cdn_url('navigation/whats-new-live-forever-cardigan.jpg') %>" width="230" height="294" alt="Live Forever Cardigan" />
        <h3 class="image-caption">Live Forever Cardigan</h3>
        <p class="image-caption">Shop now</p>
      </a>
    </li>
  </ul>
  <ul class="women-sub">
    <li class="large-3 columns">
      <h2>Made By The Gang <span>or Knit Your Own</span></h2>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="<%= seo_url(women) %>">Women</a>
      </h3>
      <ul>
        <%= render_taxons_links(women) %>
      </ul>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="<%= seo_url(collections) %>">Our collections</a>
      </h3>
      <ul>
        <%= render_taxons_links(collections) %>
      </ul>
    </li>
    <li class="large-3 columns inverted">
      <a href="<%= suite_path(id: 'say-my-name-beanie-women', tab: 'made-by-the-gang') %>">
        <img src="<%= cdn_url('navigation/women-say-my-name-beanie.jpg') %>" width="230" height="294" alt="Say My Name Beanie" />
        <h3 class="image-caption">Say My Name Beanie</h3>
        <p class="image-caption">Shop now</p>
      </a>
    </li>
  </ul>
  <ul class="men-sub">
    <li class="large-3 columns">
      <h2>Made By The Gang <span>or Knit Your Own</span></h2>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="<%= seo_url(men) %>">Men</a>
      </h3>
      <ul>
        <%= render_taxons_links(men) %>
      </ul>
    </li>
    <li class="large-3 columns">
      <a href="<%= suite_path(id: 'stevie-sweater-men', tab: 'made-by-the-gang') %>">
        <img src="<%= cdn_url('navigation/men-stevie-sweater.jpg') %>" width="230" height="294" alt="Stevie Sweater" />
        <h3 class="image-caption">Stevie Sweater</h3>
        <p class="image-caption">Shop now</p>
      </a>
    </li>
    <li class="large-3 columns">
      <a href="<%= suite_path(id: 'zissou-hat-men', tab: 'made-by-the-gang') %>">
        <img src="<%= cdn_url('navigation/men-zissou-hat.jpg') %>" width="230" height="294" alt="Zissou Hat" />
        <h3 class="image-caption">Zissou Hat</h3>
        <p class="image-caption">Shop now</p>
      </a>
    </li>
  </ul>
  <ul class="kids-sub">
    <li class="large-3 columns">
      <h2>Made By The Gang <span>or Knit Your Own</span></h2>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="<%= seo_url(kids) %>">Kids</a>
      </h3>
      <ul>
        <%= render_taxons_links(kids) %>
      </ul>
    </li>
    <li class="large-3 columns inverted">
      <a href="<%= suite_path(id: 'mini-sailor-sweater-mini', tab: 'knit-your-own') %>">
        <img src="<%= cdn_url('navigation/kids-sailor-sweater.jpg') %>" width="230" height="294" alt="Mini Sailor Sweater" />
        <h3 class="image-caption">Mini Sailor Sweater</h3>
        <p class="image-caption">Shop now</p>
      </a>
    </li>
    <li class="large-3 columns">
      <a href="<% nested_taxons_path(id: 'kids/baby-gang') %>">
        <img src="<%= cdn_url('navigation/kids-personalise-it.jpg') %>" width="230" height="294" alt="Personalise it!" />
        <h3 class="image-caption">Personalise it!</h3>
        <p class="image-caption">Shop now</p>
      </a>
    </li>
  </ul>
  <ul class="knit-kits-sub">
    <li class="large-3 columns">
      <h2>Start your new <br/><span>knitting project</span></h2>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="<%= seo_url(knit_kits) %>">Knit kits</a>
      </h3>
      <ul>
        <%= render_taxons_links(knit_kits) %>
      </ul>
    </li>
    <li class="large-3 columns inverted">
      <a href="<%= suite_path(id: 'crazy-sexy-wool', tab: 'made-by-the-gang') %>">
        <img src="<%= cdn_url('navigation/knitting-crazy-sexy-wool-1214-4.jpg') %>" width="230" height="294" alt="Crazy Sexy Wool" />
        <h3 class="image-caption">Crazy Sexy Wool</h3>
        <p class="image-caption">Shop now</p>
      </a>
    </li>
    <li class="large-3 columns inverted">
      <a href="/video-tutorials">
        <img src="<%= cdn_url('navigation/knitting-wool-school.jpg') %>" width="230" height="294" alt="Wool School" />
        <h3 class="image-caption">Wool School</h3>
        <p class="image-caption">Learn something new</p>
      </a>
    </li>
  </ul>
  <ul class="yarn-and-patterns-sub">
    <li class="large-3 columns">
      <h2>All you need <br/><span>for your knitting project</span></h2>
    </li>
    <li class="large-3 small-12 columns">
      <% yarn = find_child_taxon(yarn_and_patterns, 'yarn-and-patterns/yarn') %>
      <h3><a href="<%= seo_url(yarn) %>">YARN</a></h3>
      <ul>
        <%= render_taxons_links(yarn) %>
      </ul>
      <% supplies = find_child_taxon(yarn_and_patterns, 'yarn-and-patterns/supplies') %>
      <h3><a href="<%= seo_url(supplies) %>">SUPPLIES</a></h3>
      <ul>
        <%= render_taxons_links(supplies) %>
      </ul>
    </li>
    <li class="large-3 columns">
      <% patterns = find_child_taxon(yarn_and_patterns, 'yarn-and-patterns/patterns') %>
      <h3><a href="<%= seo_url(patterns) %>">PATTERNS</a></h3>
      <ul>
        <%= render_taxons_links(patterns) %>
      </ul>
    </li>
    <li class="large-3 columns inverted">
      <a href="/video-tutorials">
        <img src="<%= cdn_url('navigation/knitting-wool-school-0914.jpg') %>" width="230" height="294" alt="Wool School" />
        <h3 class="image-caption">Wool School</h3>
        <p class="image-caption">Learn something new</p>
      </a>
    </li>
  </ul>
  <ul class="gang-culture-sub">
    <li class="large-3 columns">
      <h2>Hang with The Gang</h2>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="/meet-the-gang">Gang Culture</a>
      </h3>
      <ul>
        <li><a href="/vote-for-your-favourite">Gang Labs</a></li>
        <li><a href="http://blog.woolandthegang.com">Our Blog</a></li>
        <li><a href="http://tumblr.woolandthegang.com">Our Tumblr</a></li>
        <li><a href="/our-story">Our Story</a></li>
        <li><a href="/become-a-gang-maker">Become a Gang Maker</a></li>
        <li><a href="/video-tutorials">Video Tutorials</a></li>
        <li><a href="/bespoke-projects">Bespoke Projects</a></li>
        <!--<li><a href="/press">Press</a></li>-->
        <li><a href="/hang-with-the-gang">Hang With The Gang</a></li>
        <li><a href="/raf/invite">Get Your Next Order For Free!</a></li>
      </ul>
    </li>
    <li class="large-3 columns inverted">
      <a href="/raf/invite">
        <img src="<%= cdn_url('navigation/gang-culture-refer-a-friend.jpg') %>" width="230" height="294" alt="Refer a friend" />
        <h3 class="image-caption">Refer your friends</h3>
        <p class="image-caption">And get free orders!</p>
      </a>
    </li>
    <li class="large-3 columns">
      <a href="/video-tutorials">
        <img src="<%= cdn_url('navigation/gang-culture-wool-school-0914.jpg') %>" width="230" height="294" alt="Wool School" />
        <h3 class="image-caption">Wool School</h3>
        <p class="image-caption">Learn something new</p>
      </a>
    </li>
  </ul>
</nav>
