<nav id="navPrimarySub" class="row nav-primary-sub">
  <ul class="whats-new-sub">
    <li class="large-3 columns">
      <h2>Hot off the <span>drawing board</span></h2>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="<%= seo_url(whats_new) %>"
        data-path="<%= get_taxon_chain(whats_new) %>">What's new</a>
      </h3>
      <ul>
        <%= render_taxons_links(whats_new)%>
      </ul>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="<%= seo_url(collections) %>"
        data-path="<%= get_taxon_chain(collections) %>">Our collections</a>
      </h3>
      <ul>
        <%= render_taxons_links(collections) %>
      </ul>
    </li>
    <li class="large-3 columns inverted">
      <a href="<%= spree.suite_path(id: 'jackson-backpack', tab: 'crochet-your-own') %>">
        <img src="<%= cdn_url('navigation/Jackson_Backpack.jpg') %>" width="230" height="294" alt="Jackson Backpack" />
        <h3 class="image-caption">Jackson Backpack</h3>
        <p class="image-caption">Shop now</p>
      </a>
    </li>
  </ul>
  <ul class="women-sub">
    <li class="large-3 columns">
      <h2>Ready Made <span>or Knit Your Own</span></h2>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="<%= seo_url(women) %>"
        data-path="<%= get_taxon_chain(women) %>">Women</a>
      </h3>
      <ul>
        <%= render_taxons_links(women) %>
      </ul>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="<%= seo_url(collections) %>"
        data-path="<%= get_taxon_chain(collections) %>">Our collections</a>
      </h3>
      <ul>
        <%= render_taxons_links(collections) %>
      </ul>
    </li>
    <li class="large-3 columns">
      <a href="<%= spree.suite_path(id: 'roxy-kimono-women', tab: 'made-by-the-gang') %>">
        <img src="<%= cdn_url('navigation/Roxy.jpg') %>" width="230" height="294" alt="Mighty Marcia T-Shirt" />
        <h3 class="image-caption">Roxy Kimono</h3>
        <p class="image-caption">Shop now</p>
      </a>
    </li>
  </ul>
  <ul class="men-sub">
    <li class="large-3 columns">
      <h2>Ready Made <span>or Knit Your Own</span></h2>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="<%= seo_url(men) %>"
        data-path="<%= get_taxon_chain(men) %>">Men</a>
      </h3>
      <ul>
        <%= render_taxons_links(men) %>
      </ul>
    </li>
    <li class="large-3 columns">
      <a href="<%= spree.suite_path(id: 'hounds-of-love-sweater-men', tab: 'knit-your-own') %>">
        <img src="<%= cdn_url('navigation/Hounds_of_love_Sweater.jpg') %>" width="230" height="294" alt="Hounds Of Love Sweater" />
        <h3 class="image-caption">Hounds Of Love Sweater</h3>
        <p class="image-caption">Shop now</p>
      </a>
    </li>
    <li class="large-3 columns">
      <a href="<%= spree.suite_path(id: 'mr-tosh-beanie-men', tab: 'made-by-the-gang') %>">
        <img src="<%= cdn_url('navigation/Mr_Tosh_Beanie.jpg') %>" width="230" height="294" alt="Mr Tosh Beanie" />
        <h3 class="image-caption">Mr Tosh Beanie</h3>
        <p class="image-caption">Shop now</p>
      </a>
    </li>
  </ul>
  <ul class="kids-sub">
    <li class="large-3 columns">
      <h2>Ready Made <span>or Knit Your Own</span></h2>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="<%= seo_url(kids) %>"
        data-path="<%= get_taxon_chain(kids) %>">Kids &amp; babies</a>
      </h3>
      <ul>
        <%= render_taxons_links(kids) %>
      </ul>
    </li>
    <li class="large-3 columns inverted">
      <a href="<%= spree.suite_path(id: 'hang-10-booties-baby', tab: 'knit-your-own') %>">
        <img src="<%= cdn_url('navigation/kids-hang-10-booties.jpg') %>" width="230" height="294" alt="Hang 10 Booties" />
        <h3 class="image-caption">Hang 10 Booties</h3>
        <p class="image-caption">Shop now</p>
      </a>
    </li>
    <li class="large-3 columns">
      <a href="<%= spree.suite_path(id: 'breaker-beanie-baby', tab: 'made-by-the-gang') %>">
        <img src="<%= cdn_url('navigation/kids-breaker-beanie.jpg') %>" width="230" height="294" alt="Breaker Beanie" />
        <h3 class="image-caption">Breaker Beanie</h3>
        <p class="image-caption">Shop now</p>
      </a>
    </li>
  </ul>
  <ul class="knit-kits-sub">
    <li class="large-3 columns">
      <h2>Start your new <br/><span>knitting project</span></h2>
    </li>
    <li class="large-3 small-12 columns">
    <% type = find_child_taxon(knit_kits, 'knit-kits/type') %>
      <h3>
        <a href="<%= seo_url(knit_kits) %>"
        data-path="<%= get_taxon_chain(knit_kits) %>">Knit Kits For</a>
      </h3>
      <ul>
        <%= render_taxons_links(type) %>
      </ul>
      <% yarn = find_child_taxon(knit_kits, 'knit-kits/yarn') %>
      <h3>
        <a href="<%= seo_url(knit_kits) %>"
        data-path="<%= get_taxon_chain(knit_kits) %>">By Yarn</a>
      </h3>
      <ul>
        <%= render_taxons_links(yarn) %>
      </ul>
    </li>
    <li class="large-3 columns inverted">
      <% level = find_child_taxon(knit_kits, 'knit-kits/level') %>
      <h3>
        <a href="<%= seo_url(knit_kits) %>"
        data-path="<%= get_taxon_chain(knit_kits) %>">By Level</a>
      </h3>
      <ul>
        <%= render_taxons_links(level) %>
      </ul>
      <% season = find_child_taxon(knit_kits, 'knit-kits/season') %>
      <h3>
        <a href="<%= seo_url(knit_kits) %>"
        data-path="<%= get_taxon_chain(knit_kits) %>"
        >By Season</a>
      </h3>
      <ul>
        <%= render_taxons_links(season) %>
      </ul>
    </li>
    <li class="large-3 columns">
      <a href="/videos">
        <img src="<%= cdn_url('navigation/knitting-wool-school.jpg') %>" width="230" height="294" alt="Wool School" />
        <h3 class="image-caption">Wool School</h3>
        <p class="image-caption">Learn something new</p>
      </a>
    </li>
  </ul>
  <ul class="crochet-sub">
    <li class="large-3 columns">
      <h2>Ready Made <span>or Crochet Your Own</span></h2>
    </li>
    <li class="large-3 small-12 columns">
      <% type = find_child_taxon(crochet, 'crochet/type') %>
      <h3>
        <a href="<%= seo_url(crochet) %>"
        data-path="<%= get_taxon_chain(crochet) %>">Crochet For</a>
      </h3>
      <ul>
        <%= render_taxons_links(type) %>
      </ul>
      <% level = find_child_taxon(crochet, 'crochet/level') %>
      <h3>
        <a href="<%= seo_url(crochet) %>"
        data-path="<%= get_taxon_chain(crochet) %>">By Level</a>
      </h3>
      <ul>
        <%= render_taxons_links(level) %>
      </ul>
    </li>
    <li class="large-3 columns">
      <a href="<%= spree.suite_path(id: 'brady-basket', tab: 'crochet-your-own') %>">
        <img src="<%= cdn_url('navigation/bradybasket.jpg') %>" width="230" height="294" alt="Clash Pots" />
        <h3 class="image-caption">Brady Basket</h3>
        <p class="image-caption">Shop now</p>
      </a>
    </li>
    <li class="large-3 columns inverted">
      <a href="http://blog.woolandthegang.com/2015/05/crochet-the-down-low">
        <img src="<%= cdn_url('navigation/BlogTips.jpg') %>" width="230" height="294" alt="Crochet Tips" />
        <h3 class="image-caption">Crochet Tips</h3>
        <p class="image-caption">Check 'em out</p>
      </a>
    </li>
  </ul>
  <ul class="yarn-and-patterns-sub">
    <li class="large-3 columns">
      <h2>All you need <br/><span>for your knitting project</span></h2>
    </li>
    <li class="large-3 small-12 columns">
      <% yarn = find_child_taxon(yarn_and_patterns, 'yarn-and-patterns/yarn') %>
      <h3><a href="<%= seo_url(yarn) %>"
      data-path="<%= get_taxon_chain(yarn) %>">YARN</a></h3>
      <ul>
        <%= render_taxons_links(yarn) %>
      </ul>
      <% supplies = find_child_taxon(yarn_and_patterns, 'yarn-and-patterns/supplies') %>
      <h3><a href="<%= seo_url(supplies) %>"
      data-path="<%= get_taxon_chain(supplies) %>">SUPPLIES</a></h3>
      <ul>
        <%= render_taxons_links(supplies) %>
      </ul>
    </li>
    <li class="large-3 columns">
      <% patterns = find_child_taxon(yarn_and_patterns, 'yarn-and-patterns/patterns') %>
      <h3><a href="<%= seo_url(patterns) %>"
      data-path="<%= get_taxon_chain(patterns) %>">PATTERNS</a></h3>
      <ul>
        <%= render_taxons_links(patterns) %>
      </ul>
    </li>
    <li class="large-3 columns">
      <a href="/meet-our-yarn">
        <img src="<%= cdn_url('navigation/Meet_Our_Yarn.jpg') %>" width="230" height="294" alt="Wool School" />
        <h3 class="image-caption">Meet our Yarn</h3>
        <p class="image-caption">What's your favourite?</p>
      </a>
    </li>
  </ul>
  <ul class="gang-culture-sub">
    <li class="large-3 columns">
      <h2>Hang with The Gang</h2>
    </li>
    <li class="large-3 small-12 columns">
      <h3>
        <a href="/meet-the-gang">Gang Culture</a>
      </h3>
      <ul>
        <li><a href="/videos">Video Tutorials</a></li>
        <li><a href="/parties">Parties</a></li>
        <li><a href="/our-story">Our Story</a></li>
        <li><a href="http://blog.woolandthegang.com">Blog</a></li>
        <li><a href="/hang-with-the-gang">Hang With The Gang</a></li>
        <li><a href="/become-a-gang-maker">Become a Gang Maker</a></li>
        <li><a href="/gang-labs">Gang Labs</a></li>
        <li><a href="/bespoke-projects">Bespoke Projects</a></li>
        <li><a href="/raf/invite">Get Your Next Order Free!</a></li>
        <!-- <li><a href="http://tumblr.woolandthegang.com">Our Tumblr</a></li> -->
        <!--<li><a href="/press">Press</a></li>-->
      </ul>
    </li>
    <li class="large-3 columns inverted">
      <a href="/host-a-party">
        <img src="<%= cdn_url('navigation/HostAParty.jpg') %>" width="230" height="294" alt="Host a Knit Party" />
        <h3 class="image-caption">Host a Knit Party</h3>
        <p class="image-caption">And get free orders!</p>
      </a>
    </li>
    <li class="large-3 columns">
      <a href="/videos">
        <img src="<%= cdn_url('navigation/gang-culture-wool-school-0914.jpg') %>" width="230" height="294" alt="Wool School" />
        <h3 class="image-caption">Wool School</h3>
        <p class="image-caption">Learn something new</p>
      </a>
    </li>
  </ul>
</nav>
