<nav id="navPrimarySub" class="row mobile-navigation nav-primary-sub">
  <ul class="sale-sub">
    <li class="large-3 small-12 columns hidden">
      <% sale = Spree::Taxon.find_by_permalink('sale/made-by-the-gang') %>
      <h3>
        <a href="<%= seo_url(sale) %>">Sale</a>
      </h3>
    </li>
  </ul>
  <ul class="whats-new-sub">
    <li class="large-3 small-12 columns hidden">
      <h3>
        <a href="<%= seo_url(whats_new) %>">What's new</a>
        <a href="#" class="sub-menu"><i class="fa fa-angle-down"></i></a>
      </h3>
      <ul class="dropdown">
        <%= render_taxons_links(whats_new) %>
        <li><a href="/t/yarn-and-patterns/patterns">Patterns</a></li>
      </ul>
    </li>
  </ul>
  <ul class="collections-sub">
    <li class="large-3 small-12 columns hidden">
      <h3>
        <a href="<%= seo_url(collections) %>">Collections</a>
        <a href="#" class="sub-menu"><i class="fa fa-angle-down"></i></a>
      </h3>
      <ul class="dropdown">
        <%= render_taxons_links(collections) %>
      </ul>
    </li>
  </ul>
  <ul class="women-sub">
    <li class="large-3 small-12 columns hidden">
      <h3>
        <a href="<%= seo_url(women) %>">Women</a>
        <a href="#" class="sub-menu"><i class="fa fa-angle-down"></i></a>
      </h3>
      <ul class="dropdown">
        <%= render_taxons_links(women) %>
      </ul>
    </li>
  </ul>
  <ul class="men-sub">
    <li class="large-3 small-12 columns hidden">
      <h3>
        <a href="<%= seo_url(men) %>">Men</a>
        <a href="#" class="sub-menu"><i class="fa fa-angle-down"></i></a>
      </h3>
      <ul class="dropdown">
        <%= render_taxons_links(men) %>
      </ul>
    </li>
  </ul>
  <ul class="kids-sub">
    <li class="large-3 small-12 columns hidden">
      <h3>
        <a href="<%= seo_url(kids) %>">Kids &amp; babies</a>
        <a href="#" class="sub-menu"><i class="fa fa-angle-down"></i></a>
      </h3>
      <ul class="dropdown">
        <%= render_taxons_links(kids) %>
      </ul>
    </li>
  </ul>
  <ul class="knit-kits-sub">
    <li class="large-3 small-12 columns hidden">
      <h3>
        <a href="<%= seo_url(knit_kits) %>">Knit kits</a>
        <a href="#" class="sub-menu"><i class="fa fa-angle-down"></i></a>
      </h3>
      <ul class="dropdown">
        <% type = find_child_taxon(knit_kits, 'knit-kits/type') %>
        <h3 class="mobile-sub">
        <a href="<%= seo_url(knit_kits) %>">Knit Kits For</a>
        </h3>
        <ul>
          <%= render_taxons_links(type) %>
        </ul>
        <% yarn = find_child_taxon(knit_kits, 'knit-kits/yarn') %>
        <h3 class="mobile-sub">
          <a href="<%= seo_url(knit_kits) %>">By Yarn</a>
        </h3>
        <ul>
          <%= render_taxons_links(yarn) %>
        </ul>
        <% level = find_child_taxon(knit_kits, 'knit-kits/level') %>
        <h3 class="mobile-sub">
          <a href="<%= seo_url(knit_kits) %>">By Level</a>
        </h3>
        <ul>
          <%= render_taxons_links(level) %>
        </ul>
        <% season = find_child_taxon(knit_kits, 'knit-kits/season') %>
        <h3 class="mobile-sub">
          <a href="<%= seo_url(knit_kits) %>">By Season</a>
        </h3>
        <ul>
          <%= render_taxons_links(season) %>
        </ul>
      </ul>
    </li>
  </ul>
  <ul class="crochet-sub">
    <li class="large-3 small-12 columns hidden">
      <h3>
        <a href="<%= seo_url(crochet) %>">Crochet</a>
        <a href="#" class="sub-menu"><i class="fa fa-angle-down"></i></a>
      </h3>
      <ul class="dropdown">
        <% type = find_child_taxon(crochet, 'crochet/type') %>
        <h3 class="mobile-sub">
        <a href="<%= seo_url(crochet) %>">Crochet</a>
        </h3>
        <ul>
          <%= render_taxons_links(type) %>
        </ul>
        <% level = find_child_taxon(crochet, 'crochet/level') %>
        <h3 class="mobile-sub">
          <a href="<%= seo_url(knit_kits) %>">By Level</a>
        </h3>
        <ul>
          <%= render_taxons_links(level) %>
        </ul>
      </ul>
    </li>
  </ul>
  <ul class="yarn-and-patterns-sub">
    <li class="large-3 small-12 columns hidden">
      <h3>
        <a href="<%= seo_url(yarn_and_patterns) %>">Yarns &amp; patterns</a>
        <a href="#" class="sub-menu"><i class="fa fa-angle-down"></i></a>
      </h3>
      <ul class="dropdown">
        <li>
          <% yarn = find_child_taxon(yarn_and_patterns, 'yarn-and-patterns/yarn') %>
          <h3 class="mobile-sub"><a href="<%= seo_url(yarn) %>">Yarn</a></h3>
        </li>
        <%= render_taxons_links(yarn) %>
        <li>
          <% patterns = find_child_taxon(yarn_and_patterns, 'yarn-and-patterns/patterns') %>
          <h3 class="mobile-sub"><a href="<%= seo_url(patterns) %>">Patterns</a></h3>
        </li>
        <%= render_taxons_links(patterns) %>
        <li>
          <% supplies = find_child_taxon(yarn_and_patterns, 'yarn-and-patterns/supplies') %>
          <h3 class="mobile-sub"><a href="<%= seo_url(supplies) %>">Supplies</a></h3>
        </li>
        <%= render_taxons_links(supplies) %>
      </ul>
  </ul>
  <ul class="gang-culture-sub">
    <li class="large-3 small-12 columns hidden">
      <h3>
        <a href="/meet-the-gang">Gang Culture</a>
        <a href="#" class="sub-menu"><i class="fa fa-angle-down"></i></a>
      </h3>
      <ul class="dropdown">
        <li><a href="/videos">Video Tutorials</a></li>
        <li><a href="/host-a-party">Host a Knit Party</a></li>
        <li><a href="/our-story">Our Story</a></li>
        <li><a href="http://blog.woolandthegang.com">Blog</a></li>
        <li><a href="/hang-with-the-gang">Hang With The Gang</a></li>
        <li><a href="/become-a-gang-maker">Become a Gang Maker</a></li>
        <li><a href="/vote-for-your-favourite">Gang Labs</a></li>
        <li><a href="/bespoke-projects">Bespoke Projects</a></li>
        <li><a href="/raf/invite">Get Your Next Order Free!</a></li>
      </ul>
    </li>
  </ul>
  <ul class="knit-parties-sub">
    <li class="large-3 small-12 columns hidden">
      <h3>
        <a href="/host-a-party">Knit parties</a>
      </h3>
    </li>
  </ul>
</nav>
