<% content_for :page_title do %>
  <%= Spree.t(:hold_order) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= button_link_to Spree.t(:back_to_order), [:edit, :admin, @order], :icon => 'fa fa-arrow-left' %></li>
<% end %>

<%= render :partial => 'spree/admin/shared/order_sub_menu' %>

<%= form_tag admin_order_holds_path(@order), method: :post do %>
<div class="twelve columns alpha omega">
  <fieldset>
    <legend align="center">Put order on hold</legend>
      <div>
      <%= label_tag :type_warehouse, :warehouse %>
      <%= radio_button_tag :type, :warehouse, true %>
      <%= label_tag :type_customer_service, :customer_service %>
      <%= radio_button_tag :type, :customer_service %>
      </div>

      <%= label_tag :reason %>
      <%= text_area_tag :reason, '', :placeholder => 'Reason for putting the order on hold', :rows => 6, :class => 'fullwidth' %>

    <div class="actions" data-hook="buttons">
      <%= button "Put on hold" %>
    </div>
  </fieldset>
</div>
<% end -%>

