<% item = f.object %>
<tr class="index_page fields" id="spree_<%= dom_id(f.object) %>"  data-hook="index_page" class="<%= cycle('odd', 'even')%>">

  <td class="no-border">
    <span class="handle"></span>
    <%= f.hidden_field :id %>
  </td>

  <td>
    <div class="dropzone" id="item_<%= item.id %>_image_container">
      <div class="item_image">
        <%= f.fields_for :image do |image_fields| %>
          <%= image_tag(image_fields.object.attachment.url(:mini))%>
        <% end %>
      </div>
    </div>
  </td>

  <td>

    <p class="align-center">
      <strong><%= item.title %></strong>
    </p>
    <br><hr><br>
    <p style="margin-left: 15px">
      <% Spree::IndexPageItem::TEMPLATES.each do |template| %>
        <%= f.radio_button :template_id, template[:id] %>
        <%= f.label :template_id, template[:name] %><br>
      <% end %>
      <br>
      <%= f.check_box :inverted %> Inverted colours</td>
    </p>
  <td>

    <%= f.label :product_page_id %> 

    <span class="required">*</span>
    <%= f.hidden_field :product_page_id, :class => "index-page-product-page-ids fullwidth" %>
    
    <% if item.product_page %>
    <span class="info">
      <%= link_to_with_icon 'icon-external-link', "Jump to product page", [:edit, :admin, item.product_page], target: :blank  %>
    </span>
    <% end %>
    
    <p style="margin: 12px 0 12px 0"><hr></p>

    <%= f.label :variant_id, "Variant (optional)" %>
    <%= f.hidden_field :variant_id, :class => "index-page-variant-ids fullwidth" %>
  
    <% if item.variant %>
    <span class="info">
      <%= link_to_with_icon 'icon-external-link', "Jump to variant", [:edit, :admin, item.variant.product, item.variant], target: :blank %>
    </span>
    <% end %>
    
  </td>

  <td class="actions"><%= link_to_delete item, { :url => admin_index_page_item_url(@index_page, item), :no_text => true } %></td>
</tr>
