<% item = f.object %>
<tr class="index_page fields" id="spree_<%= dom_id(f.object) %>"  data-hook="index_page" class="<%= cycle('odd', 'even')%>">

  <td class="no-border">
    <span class="handle"></span>
    <%= f.hidden_field :id %>
  </td>

  <td>
    <div class="dropzone" id="item_<%= item.id %>_image_container">
      <div class="item_image">
        <%= f.fields_for :image do |image_fields| %>
          <%= image_tag(image_fields.object.attachment.url(:small))%>
        <% end %>
      </div>
    </div>
  </td>

  <td><%= item.title %></td>

  <td>
    <% Spree::IndexPageItem::TEMPLATES.each do |template| %>
      <%= f.radio_button :template_id, template[:id] %>
      <%= f.label :template_id, template[:name] %><br>
    <% end %>
    <br>
    <%= f.check_box :inverted %> Inverted colours
  </td>

  <td>
    <% if item.product_page %>
      <%= link_to item.product_page.name, [:edit, :admin, item.product_page] %>
    <% end %>
  </td>

  <td>(optional) Link to Variant <%#= item_name(f.object.item) %></td>

  <td class="actions"><%= link_to_delete item, { :url => admin_index_page_item_url(@index_page, item), :no_text => true } %></td>
</tr>
