<%# no need for thumbnails unless there is more than one image %>
<% if (@product.images + @product.variant_images_including_targetted + @product.personalisation_images).uniq.size > 1 %>
	<ul id="product-thumbnails" class="thumbnails inline" data-hook>
		<% @product.images.each do |i| %>
			<li class='tmb-all tmb-<%= i.viewable.id %>' style="<%= show_thumb(i, @selected_variant)%>">
				<a href="<%= i.attachment.url(:large) %>" target="_blank" class="fancybox" rel="product-gallery">
					<%= image_tag(i.attachment.url(:mini)) %>
				</a>
			</li>
		<% end %>
    <% @product.personalisation_images.each do |i| %>
      <li class='tmb-personalisation tmb-personalisation-<%= i.viewable.id %>'>
      <a href="<%= i.attachment.url(:large) %>" target="_blank" class="fancybox" rel="product-gallery">
      <%= image_tag(i.attachment.url(:mini)) %>
    </a>
    </li>
  <% end %>
		<% if @product.has_variants? %>
			<% @product.variant_images_including_targetted.each do |i| %>
				<% next if @product.images.include?(i) %>
				<li class="<%= thumb_classes(i) %>" style="<%= show_thumb(i, @selected_variant)%>">
					<a href="<%= i.attachment.url(:large) %>" target="_blank" class="fancybox" rel="product-gallery">
						<%= image_tag(i.attachment.url(:mini)) %>
					</a>
				</li>
			<% end %>
		<% end %>
	</ul>
<% end %>
