<div data-hook="product_show" itemscope itemtype="http://schema.org/Product" class="row">

<% @body_class = 'product-details' %>

	<div class="large-6 columns" data-hook="product_left_part">
		<div data-hook="product_left_part_wrap">
	
			<div id="product-images" data-hook="product_images">
				<div id="main-image" data-hook>
					<%= render :partial => 'image', :locals => {:image => first_image(@selected_variant) } %>
				</div>
				<div id="thumbnails" data-hook>
					<%= render :partial => 'thumbnails' %>
				</div>
			</div>
	
			<div data-hook="promotions">
				<%= render :partial => 'promotions' %>
			</div>
	
		</div>
	</div>
	
	<div class="large-5 columns" data-hook="product_right_part">
		<div data-hook="product_right_part_wrap">
	
			<div id="product-description" data-hook="product_description">
				<h1 class="product-title" itemprop="name"><%= accurate_title %></h1>
				<% if @product.property('level') %>
                	<h2 class="kit-level"><%= @product.property('level') %></h2>
              	<% end %>
				
				<div id="cart-form" data-hook="cart_form">
					<%= render :partial => 'cart_form' %>
				</div>
	
				<div itemprop="description" data-hook="description" class="description">
					<%= product_description(@product) rescue Spree.t(:product_has_no_description) %>
				</div>
	
			</div>

			<% if @product.gang_member.try(:visible?) %>
			<div class="gang-member">
				<h3>Made Unique By <span><%= @product.gang_member.nickname %></span></h3>
				<div class="gang-member-portrait">
					<img src="<%= @product.gang_member.avatar.url(:avatar) %>" alt="<%= @product.gang_member.nickname %> portrait" />
				</div>
				<div class="gang-member-soundbite">
					<p><%= @product.gang_member.profile %></p>
				</div>
			</div>
			<% end %>

			<%# Facebook SDK %>
			<div id="fb-root"></div>
			<script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>

			<div class="social-bookmarking">
			  <a href="//pinterest.com/pin/create/button/?url=<%= URI.encode(request.original_url) %>&amp;media=<%= URI.encode(image_url(first_image(@selected_variant), :large)) %>&amp;description=<%= URI.encode(@product.name) %>" data-pin-do="buttonPin" data-pin-config="none"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
			  <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
			</div>
	
		</div>
	</div>

</div>
