<% content_for :page_title do %>
  <%= Spree.t(:editing_product) %> &ldquo;<%= @product.name %>&rdquo;
<% end %>

<% content_for :sidebar_title do %>
  <span class="sku"><%= @product.sku %></span>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul data-hook="admin_product_tabs">
      <%= content_tag :li, :class => ('active' if current == 'Product Details') do %>
        <%= link_to_with_icon 'edit', Spree.t(:product_details), edit_admin_product_url(@product) %>
      <% end if can?(:admin, Spree::Product) %>
      
      <%= content_tag :li, :class => ('active' if current == 'Product Images') do %>
        <%= link_to_with_icon 'picture-o', Spree.t(:images), admin_product_images_url(@product) %>
      <% end if can?(:admin, Spree::Image) %>
      
      <%= content_tag :li, :class => ('active' if current == 'Variants') do %>
        <%= link_to_with_icon 'th-large', Spree.t(:variants),  admin_product_variants_url(@product) %>
      <% end if can?(:admin, Spree::Variant) %>
      
      <%= content_tag :li, :class => ('active' if current == 'Variants Images') do %>
        <%= link_to_with_icon 'picture-o', Spree.t(:variant_images), admin_variant_images_url(@product.variants.first) if @product.variants.any?%>
      <% end if can?(:admin, Spree::Image) %>

      <%= content_tag :li, :class => ('active' if current == 'Videos') do %> 
        <%= link_to_with_icon 'picture-o', 'videos', admin_product_videos_url(@product) %>
      <% end if Features::video %>
      
      <%= content_tag :li, :class => ('active' if current == 'Product Properties') do %>
        <%= link_to_with_icon 'list', Spree.t(:product_properties), admin_product_product_properties_url(@product) %>
      <% end if can?(:admin, Spree::ProductProperty) %>
      
      <%= content_tag :li, :class => ('active' if current == 'Stock Management') do %>
        <%= link_to_with_icon 'cubes', Spree.t(:stock_management), stock_admin_product_url(@product) %>
      <% end if can?(:stock, Spree::Product) %>

      <%= content_tag :li, :class => ('active' if current == 'Prices') do %>
        <%= link_to_with_icon 'money', t(:Prices),  admin_product_prices_url(@product) %>
      <% end if can?(:stock, Spree::Price) %>

      <%= content_tag :li, :class => ('active' if current == 'Personalisations') do %>
        <%= link_to_with_icon 'edit', t(:Personalisations),  admin_product_personalisations_url(@product) %>
      <% end if can?(:stock, Spree::Personalisation) %>

      <% if @product.product_type.kit? %>
        <li><hr></li>
        <% if @product.master.assembly_definition %>
          <%= content_tag :li, :class => ('active' if current == 'Assembly Definition') do %>
              <%= link_to_with_icon 'sitemap', "Assembly Definition", edit_admin_assembly_definition_url(@product.master.assembly_definition) %>
          <% end if can?(:stock, Spree::AssemblyDefinition) %>
        <% else %>
          <%= content_tag :li, :class => ('active' if current == 'Parts') do %>
            <%= link_to_with_icon 'sitemap', Spree.t(:parts) + " (" + @product.static_assemblies_parts.count.to_s + ")", admin_product_parts_url(@product) %>
          <% end if can?(:stock, Spree::Product) %>
        <% end %>
      <% end %>
    </ul>

      <hr>
      <div class="field">
      <% Spree::SuiteTab.where(product: @product).each do |tab| %>
        <%= link_to_with_icon 'external-link', tab.suite.name, edit_admin_suite_path(tab.suite), target: :blank %>
        <br>
      <% end %>
      </div>
  </nav>

<% end %>
