<% content_for :page_title do %>
  <%= Spree.t(:editing_product) %> &ldquo;<%= @product.name %>&rdquo;
<% end %>

<% content_for :sidebar_title do %>
  <span class="sku"><%= @product.sku %></span>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul data-hook="admin_product_tabs">
      <%= content_tag :li, :class => ('active' if current == 'Product Details') do %>
        <%= link_to_with_icon 'icon-edit', Spree.t(:product_details), edit_admin_product_url(@product) %>
      <% end if can?(:admin, Spree::Product) %>

      <%= content_tag :li, :class => ('active' if current == 'Product Images') do %>
        <%= link_to_with_icon 'icon-picture', "Product Images", admin_product_images_url(@product) %>
      <% end %>

      <%= content_tag :li, :class => ('active' if current == 'Variants') do %>
        <%= link_to_with_icon 'icon-th-large', Spree.t(:variants),  admin_product_variants_url(@product) %>
      <% end %>

      <%= content_tag :li, :class => ('active' if current == 'Variant Images') do %>
        <%= link_to_with_icon 'icon-picture', "Variant Images", admin_variant_images_url(@product.variants.first) if @product.variants.any? %>
      <% end %>

      <!-- <li<%# ' class="active"' if current == 'Displayable Variants' %>>
        <%# link_to_with_icon 'icon-th-large', Spree.t(:displayable_variants), admin_displayable_variants_url(product_id: @product.id) %>
      </li>
 -->
      <li<%== ' class="active"' if current == 'Product Properties' %>>
        <%= link_to_with_icon 'icon-tasks', Spree.t(:product_properties), admin_product_product_properties_url(@product) %>
      </li>

      <%= content_tag :li, :class => ('active' if current == 'Stock Management') do %>
        <%= link_to_with_icon 'icon-tasks', Spree.t(:stock_management), stock_admin_product_url(@product) %>
      <% end if can?(:stock, Spree::Product) %>

      <li<%== 'class="active"' if current == 'Prices' %>>
        <%= link_to_with_icon 'icon-money', t(:Prices),  admin_product_prices_url(@product) %>
      </li>

      <li<%== 'class="active"' if current == 'Personalisations' %>>
        <%= link_to_with_icon 'icon-edit', t(:Personalisations),  admin_product_personalisations_url(@product) %>
      </li>
      <% if @product.product_type.kit? %>
        <li><hr></li>
        <% if @product.master.assembly_definition %>
          <li<%== ' class="active"' if current == "Assembly Definition" %>>
              <%= link_to_with_icon 'icon-sitemap', "Assembly Definition", edit_admin_assembly_definition_url(@product.master.assembly_definition) %>
          </li>
        <% else %>
          <li<%== ' class="active"' if current == "Parts" %>>
            <%= link_to_with_icon 'icon-sitemap', Spree.t(:parts) + " (" + @product.assemblies_parts.count.to_s + ")", admin_product_parts_url(@product) %>
          </li>
        <% end %>
      <% end %>
    </ul>

      <hr>
      <div class="field">
      <% Spree::ProductPageTab.where(product: @product).each do |tab| %>
        <%= link_to_with_icon 'icon-external-link', tab.product_page.name, edit_admin_product_page_path(tab.product_page), target: :blank %>
        <br>
      <% end %>
      </div>
  </nav>

<% end %>
