<% content_for :page_title do %>
  <%= Spree.t(:editing_product_group) %> &ldquo;<%= product_group.name %>&rdquo;
<% end %>

<% content_for :sidebar_title do %>
  <span class="sku"><%= product_group.name %></span>
<% end %>

<% content_for :sidebar do %>
  <nav class="menu">
    <ul data-hook="admin_product_tabs">
      <%= content_tag :li, :class => ('active' if current == 'Product Group Details') do %>
        <%= link_to_with_icon 'icon-edit', Spree.t(:product_group_details), edit_admin_product_group_url(product_group) %>
      <% end %>
      <%= content_tag :li, :class => ('active' if current == 'Variants') do %>
        <%= link_to_with_icon 'icon-th_large', Spree.t(:variants), admin_product_group_product_group_variants_url(product_group) %>
      <% end %>
    </ul>
  </nav>
<% end %>
