<%= form_tag :url => create_admin_reports_path(name), :method => :post do %>
    <div class="date-range-filter field align-center">
        <%= label_tag nil, Spree.t(:start), :class => 'inline' %>
        <%= text_field_tag 'q[from]', '', :class => 'datepicker datepicker-from' %>
        
        <span class="range-divider">
          <i class="fa fa-arrow-right"></i>
        </span>

        <%= text_field_tag 'q[to]', '', :class => 'datepicker datepicker-to' %>
        <%= label_tag nil, Spree.t(:end), :class => 'inline' %>
    </div>

    <div class="actions filter-actions">
      <%= button Spree.t(:Generate) %>
    </div>
<% end %>
