<% content_for :page_title do %>
  <%= "#{Spree.t(:reports)}: #{@name}"  %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'fa fa-arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
<% end %>

<fieldset>
  <% if @report.finished? %>
    <legend align="center" class="actions">
      <%= link_to Spree.t(:Download), download_admin_reports_path(@name,@report.id) , :class => 'button' %>
    </legend>
    <%= "Report Ready: " %>
  <% else %>
      <legend align="center" class="actions">
      <%= link_to Spree.t(:Refresh), refresh_admin_reports_path(@name,@report.id) , :class => 'button' %>
    </legend>
    <%= "Generating Report: " %>
  <% end %> 
  <b><%= "#{@name}" %></b>
  </fieldset>
