<% content_for :page_title do %>
  <%= Spree.t(:listing_reports) %>
<% end %>

<table class="index">
  <thead>
    <tr data-hook="reports_header">
      <th><%= Spree.t(:name) %></th>
      <th><%= Spree.t(:description) %></th>
    </tr>
  </thead>
  <tbody>
    <% @reports.each do |key, value| %>
    <tr data-hook="reports_row">
      <td style="padding-left:1em"><%= link_to value[:name], report_name_admin_reports_path(key) %></td>
      <td style="padding-left:1em"><%= value[:description] %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>

<h4>Last 10 reports</h4><br>
<table class="index">
  <thead>
    <tr data-hook="reports_header">
      <th><%= Spree.t(:name) %></th>
      <th>Time Span</th>
      <th><%= Spree.t(:date) %></th>
    </tr>
  </thead>
  <tbody>
    <% @last_reports.each do |report| %>
    <tr>
      <td style="padding-left:1em">
      <% if report.filename %>
        <%= link_to report.filename, download_admin_reports_path(report.filename.split('.').first, report.id) %>
        <% span = report.filename.split('.')[1].split('_') %>
        <% start_date = Date.parse(span[0]).to_formatted_s(:long) %>
        <% end_date = Date.parse(span[1]).to_formatted_s(:long) %>
      <% else %>
        Error in generating the report.
      <% end %>
      </td>
      <td class="align-center"><%=  start_date.to_s + ' - ' + end_date.to_s %></td>
      <td class="align-center"><%= report.created_at.to_formatted_s(:short) %></td>
    </tr>
    <% end %>
  </tbody>
</table>