<% if @order.errors.any? %>
  <div id="errorExplanation" class="errorExplanation" data-hook>
    <h2><%= Spree.t(:errors_prohibited_this_record_from_being_saved, :count => @order.errors.count) %></h2>
      <ul>
      <% @order.errors.messages.each do |attr, msg| %>
        <% msg.each do |val| %>
          <li><%= val.html_safe %></li>
        <% end %>
      <% end %>
      </ul>
  </div>
<% end %>

<table id="cart-detail" class="order-item-listing" data-hook>
	<thead>
		<tr data-hook="cart_items_headers">
			<th class="cart-item-description-header"><%= Spree.t(:item) %></th>
			<th class="cart-item-quantity-header"><%= Spree.t(:qty) %></th>
			<th class="cart-item-total-header"><%= Spree.t(:total) %></th>
		</tr>
	</thead>
	<tbody id="line_items" data-hook>
		<%= order_form.fields_for :line_items do |item_form| %>
			<%= render :partial => 'line_item', :locals => { :variant => item_form.object.variant, :line_item => item_form.object, :item_form => item_form } %>
		<% end %>
	</tbody>
        <% if @order.adjustments.nonzero.exists? || @order.line_item_adjustments.nonzero.exists? || @order.shipment_adjustments.nonzero.exists? %>
        <tr class="cart-subtotal">
          <td colspan="2" align='right'><h5><%= Spree.t(:cart_subtotal, :count => @order.line_items.sum(:quantity)) %></h5></td>
          <td><h5><%= order_form.object.display_item_total %></h5></td>
        </tr>
        <%= render "spree/orders/adjustments" %>
        <% end %>
</table>
