<% content_for :meta do %>
  <meta content="noindex, nofollow, noarchive, nosnippet" name="robots" />
<% end %>

<% @body_id = 'cart' %>

<h1>Shopping bag</h1>

<% if @order.line_items.empty? %>

	<div data-hook="empty_cart">
		<p><%= Spree.t(:your_cart_is_empty) %></p>
		<p><%= link_to Spree.t(:continue_shopping), root_path, :class => 'button continue' %></p>
	</div>

<% else %>
	<div data-hook="outside_cart_form">
		<%= form_for @order, :url => update_cart_path, :html => {:id => 'update-cart'} do |order_form| %>
			<div data-hook="inside_cart_form">

				<div data-hook="cart_items">
					<%= render :partial => 'form', :locals => { :order_form => order_form } %>
				</div>

        <div class="subtotal">
          <span class="subtotal-label"><%= Spree.t(:subtotal) %></span> <span class="sub-total"><%= @order.display_total.to_html %></span>
        </div>

				<div class="row collapse checkout-link">
          <%= button_tag "Update bag", :class => 'inverse', :id => 'update-button' %>
					<%= link_to Spree.t(:continue_shopping), root_path, :class => 'continue-shopping button inverse' %>
					<%= button_tag :class => '', :id => 'checkout-link', :name => 'checkout' do %>
						<%= Spree.t(:checkout) %>
					<% end %>
					<%#
					<ul class="small-print">
						<li>An item’s price may change when you select shipping destination</li>
						<li>Please check the final total on the order summary page before completing purchase</li>
						<li>Once your purchase has been completed, further items cannot be added to this order</li>
					</ul>
					%>
				</div>

			</div>
		<% end %>
	</div>

<% end %>
