<fieldset id="order_summary" data-hook>  
  <h1><%= accurate_title %></h1>

  <div id="order" data-hook>
    <% if flash[:commerce_tracking] == 'checkout_complete' %>
       <%= render :partial => 'linkshare_conversion_tag' %>
       <%= render :partial => 'google_adword_tag' %>
       <%= render :partial => 'adroll_conversion_tag' %>
       <%= render :partial => 'facebook_conversion_tag', :locals => { :order => @order } %>
       <%= render :partial => 'olapic_conversion_tag', :locals => { :order => @order } %>
    <% end %>
    <%= render :partial => 'spree/shared/order_details', :locals => { :order => @order } %>

    <br class="clear" />

    <p data-hook="links">
      <%= link_to Spree.t(:back_to_store), spree.root_path, :class => "button" %>
      <% unless params.has_key? :checkout_complete %>
        <% if try_spree_current_user && respond_to?(:spree_account_path) %>
          <%= link_to Spree.t(:my_account), spree_account_path, :class => "button" %>
        <% end %>
      <% end %>
    </p>
  </div>
</fieldset>
